<div>
    <div class="container">
        <app-track-searchform [trackSearchForm]="trackSearchForm"
                              (search)="onSearchTrack($event)"></app-track-searchform>
    </div>
    <div class="container">
        <app-track-list-header [trackSearchResult]="trackSearchResult"
                               (pageChange)="onPageChange($event)" ></app-track-list-header>
    </div>
    <div class="container">
        <app-track-list [trackSearchResult]="trackSearchResult"
                        (edit)="onEditTrack($event)"
                        (delete)="onDeleteTrack($event)"></app-track-list>
    </div>
    <div class="container">
        <app-track-list-footer [trackSearchResult]="trackSearchResult"
                               (pageChange)="onPageChange($event)" ></app-track-list-footer>
    </div>
</div>

