<ng-container *ngIf="record != undefined && record.id != undefined">
    <div class="container content-container">
        <div class="card-block">
            <app-sdoc-list-item-flat [record]="record" (show)="submitBackToShow()"></app-sdoc-list-item-flat>
        </div>
        <br clear="all" />
        <div class="card-footer text-right" style="width: 100%">
            <div class="card-action-buttons align-bottom btn-group" role="group" aria-label="Actions">
                <app-sdoc-action [record]="record" [type]="'actionTagsBig'" (actionTagEvent)="onActionTagEvent($event)"></app-sdoc-action>
                <a [href]="getBackToShowUrl()" (click)="submitBackToShow()" class="btn btn-action btn-sm"
                   i18n="link back2show sdoc|Linktext back to show sdoc@@a.edit.sdoc.back2show">Back to Show</a>
                <a [href]="getBackToSearchUrl()" (click)="submitBackToSearch()" class="btn btn-action btn-sm"
                   i18n="link back2search sdoc|Linktext back to search sdoc@@a.edit.sdoc.back2search">Back to Search</a>
            </div>
        </div>
    </div>
    <div class="container content-container">
        <div class="container">
            <app-sdoc-editform [record]="record" (save)="submitSave($event)"></app-sdoc-editform>
        </div>
    </div>

    <div class="container content-container" *ngIf="tracks !== undefined && tracks.length > 0">
        <app-sdoc-map [mapId]="'showMap'"
                      [height]="'400px'"
                      [mapZoom]="'9'"
                      [sdocs]="tracks"
                      [showImageTrackAndGeoPos]="'true'"
                      [mapCenterPos]="undefined"></app-sdoc-map>
    </div>

    <div class="container content-container" *ngIf="record.gpsTrackBasefile">
        <app-sdoc-profilemap [mapId]="'showProfileMap'"
                             [height]="'400px'"
                             [showImageTrackAndGeoPos]="'true'"
                             [sdocs]="[record]"></app-sdoc-profilemap>
    </div>

    <div class="container content-container">
        <ng-container [ngSwitch]="record.type">
            <ng-container *ngSwitchCase="'LOCATION'">
                <app-sdoc-inline-searchpage [label]="'Unterregionen'"
                                            i18n-label="label inline-searchpage LOCATION|Label inline-searchpage LOCATION@@linline-search.label.sdoc.LOCATION"
                                            [params]="getFiltersForType(record, 'LOCATION')"
                                            [htmlId]="'LOCATION'"
                                            [showForm]="false"
                                            [layout]="Layout.FLAT"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Routen'"
                                            i18n-label="label inline-searchpage ROUTE|Label inline-searchpage ROUTE@@linline-search.label.sdoc.ROUTE"
                                            [params]="getFiltersForType(record, 'ROUTE')"
                                            [htmlId]="'ROUTE'"
                                            [showForm]="false"
                                            [showTimetable]="'true'"
                                            [loadTrack]="'true'"
                                            (searchResultFound)="onTracksFound($event)"
                                            [layout]="Layout.FLAT"
                                            [searchLinkLabel]="'Alle'"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Bilder'"
                                            i18n-label="label inline-searchpage IMAGE|Label inline-searchpage IMAGE@@linline-search.label.sdoc.IMAGE"
                                            [params]="getFiltersForType(record, 'IMAGE')"
                                            [htmlId]="'LOCATIONIMAGE'"
                                            [showForm]="false"
                                            [showLayout]="true"
                                            [showTimetable]="'true'"
                                            [layout]="Layout.SMALL"
                                            [searchLinkLabel]="'Alle'"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Trips'"
                                            i18n-label="label inline-searchpage TRIP|Label inline-searchpage TRIP@@linline-search.label.sdoc.TRIP"
                                            [params]="getFiltersForType(record, 'TRIP')"
                                            [htmlId]="'TRIP'"
                                            [showForm]="false"
                                            [showTimetable]="'true'"
                                            [layout]="Layout.FLAT"
                                            [searchLinkLabel]="'Alle'"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Tracks'"
                                            i18n-label="label inline-searchpage TRACK|Label inline-searchpage TRACK@@linline-search.label.sdoc.TRACK"
                                            [params]="getFiltersForType(record, 'TRACK')"
                                            [htmlId]="'TRACK'"
                                            [showForm]="false"
                                            [showTimetable]="'true'"
                                            [layout]="Layout.FLAT"
                                            [searchLinkLabel]="'Alle'"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
            </ng-container>
            <ng-container *ngSwitchCase="'ROUTE'">
                <app-sdoc-inline-searchpage [label]="'Region'"
                                            i18n-label="label inline-searchpage LOCATION|Label inline-searchpage LOCATION@@linline-search.label.sdoc.LOCATION"
                                            [params]="getFiltersForType(record, 'LOCATION')"
                                            [htmlId]="'LOCATION'"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [layout]="Layout.FLAT"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Bilder'"
                                            i18n-label="label inline-searchpage IMAGE|Label inline-searchpage IMAGE@@linline-search.label.sdoc.IMAGE"
                                            [params]="getFiltersForType(record, 'IMAGE')"
                                            [htmlId]="'ROUTEIMAGE'"
                                            [showForm]="false"
                                            [showLayout]="true"
                                            [showTimetable]="'true'"
                                            [layout]="Layout.SMALL"
                                            [searchLinkLabel]="'Alle'"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Trips'"
                                            i18n-label="label inline-searchpage TRIP|Label inline-searchpage TRIP@@linline-search.label.sdoc.TRIP"
                                            [params]="getFiltersForType(record, 'TRIP')"
                                            [htmlId]="'TRIP'"
                                            [showForm]="false"
                                            [showTimetable]="'true'"
                                            [layout]="Layout.FLAT"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Tracks'"
                                            i18n-label="label inline-searchpage TRACK|Label inline-searchpage TRACK@@linline-search.label.sdoc.TRACK"
                                            [params]="getFiltersForType(record, 'TRACK')"
                                            [htmlId]="'TRACK'"
                                            [showForm]="false"
                                            [showTimetable]="'true'"
                                            [layout]="Layout.FLAT"
                                            [searchLinkLabel]="'Alle'"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
            </ng-container>
            <ng-container *ngSwitchCase="'TRACK'">
                <app-sdoc-inline-searchpage [label]="'Trip'"
                                            i18n-label="label inline-searchpage TRIP|Label inline-searchpage TRIP@@linline-search.label.sdoc.TRIP"
                                            [params]="getFiltersForType(record, 'TRIP')"
                                            [htmlId]="'TRIP'"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [layout]="Layout.FLAT"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Region'"
                                            i18n-label="label inline-searchpage LOCATION|Label inline-searchpage LOCATION@@linline-search.label.sdoc.LOCATION"
                                            [params]="getFiltersForType(record, 'LOCATION')"
                                            [htmlId]="'LOCATION'"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [layout]="Layout.FLAT"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Routen'"
                                            i18n-label="label inline-searchpage ROUTE|Label inline-searchpage ROUTE@@linline-search.label.sdoc.ROUTE"
                                            [params]="getFiltersForType(record, 'ROUTE')"
                                            [htmlId]="'ROUTE'"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [layout]="Layout.FLAT"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Bilder'"
                                            i18n-label="label inline-searchpage IMAGE|Label inline-searchpage IMAGE@@linline-search.label.sdoc.IMAGE"
                                            [params]="getFiltersForType(record, 'IMAGE')"
                                            [htmlId]="'TRACKIMAGE'"
                                            [showForm]="false"
                                            [showLayout]="true"
                                            [layout]="Layout.SMALL"
                                            [searchLinkLabel]="'Alle'"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'News'"
                                            i18n-label="label inline-searchpage NEWS|Label inline-searchpage NEWS@@linline-search.label.sdoc.NEWS"
                                            [params]="getFiltersForType(record, 'NEWS')"
                                            [htmlId]="'NEWS'"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [layout]="Layout.THIN"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
            </ng-container>
            <ng-container *ngSwitchCase="'IMAGE'">
                <app-sdoc-inline-searchpage [label]="'Trip'"
                                            i18n-label="label inline-searchpage TRIP|Label inline-searchpage TRIP@@linline-search.label.sdoc.TRIP"
                                            [params]="getFiltersForType(record, 'TRIP')"
                                            [htmlId]="'TRIP'"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [layout]="Layout.FLAT"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Region'"
                                            i18n-label="label inline-searchpage LOCATION|Label inline-searchpage LOCATION@@linline-search.label.sdoc.LOCATION"
                                            [params]="getFiltersForType(record, 'LOCATION')"
                                            [htmlId]="'LOCATION'"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [layout]="Layout.FLAT"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Route'"
                                            i18n-label="label inline-searchpage ROUTE|Label inline-searchpage ROUTE@@linline-search.label.sdoc.ROUTE"
                                            [params]="getFiltersForType(record, 'ROUTE')"
                                            [htmlId]="'ROUTE'"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [layout]="Layout.FLAT"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Track'"
                                            i18n-label="label inline-searchpage TRACK|Label inline-searchpage TRACK@@linline-search.label.sdoc.TRACK"
                                            [params]="getFiltersForType(record, 'TRACK')"
                                            [htmlId]="'TRACK'"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [layout]="Layout.FLAT"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'News'"
                                            i18n-label="label inline-searchpage NEWS|Label inline-searchpage NEWS@@linline-search.label.sdoc.NEWS"
                                            [params]="getFiltersForType(record, 'NEWS')"
                                            [htmlId]="'NEWS'"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [layout]="Layout.THIN"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
            </ng-container>
            <ng-container *ngSwitchCase="'TRIP'">
                <app-sdoc-inline-searchpage [label]="'Region'"
                                            i18n-label="label inline-searchpage LOCATION|Label inline-searchpage LOCATION@@linline-search.label.sdoc.LOCATION"
                                            [params]="getFiltersForType(record, 'LOCATION')"
                                            [htmlId]="'LOCATION'"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [layout]="Layout.FLAT"
                                            [searchLinkLabel]="'Alle'"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Tracks'"
                                            i18n-label="label inline-searchpage TRACK|Label inline-searchpage TRACK@@linline-search.label.sdoc.TRACK"
                                            [params]="getFiltersForType(record, 'TRACK')"
                                            [htmlId]="'TRACK'"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [showTimetable]="'true'"
                                            [layout]="Layout.FLAT"
                                            [searchLinkLabel]="'Alle'"
                                            [loadTrack]="'true'"
                                            (searchResultFound)="onTracksFound($event)"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Routen'"
                                            i18n-label="label inline-searchpage ROUTE|Label inline-searchpage ROUTE@@linline-search.label.sdoc.ROUTE"
                                            [params]="getFiltersForType(record, 'ROUTE')"
                                            [htmlId]="'ROUTE'"
                                            [showForm]="false"
                                            [layout]="Layout.FLAT"
                                            [searchLinkLabel]="'Alle'"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Bilder'"
                                            i18n-label="label inline-searchpage IMAGE|Label inline-searchpage IMAGE@@linline-search.label.sdoc.IMAGE"
                                            [params]="getFiltersForType(record, 'IMAGE')"
                                            [htmlId]="'TRIPIMAGE'"
                                            [showForm]="false"
                                            [showLayout]="true"
                                            [layout]="Layout.SMALL"
                                            [searchLinkLabel]="'Alle'"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'News'"
                                            i18n-label="label inline-searchpage NEWS|Label inline-searchpage NEWS@@linline-search.label.sdoc.NEWS"
                                            [params]="getFiltersForType(record, 'NEWS')"
                                            [htmlId]="'NEWS'"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [layout]="Layout.THIN"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
            </ng-container>
            <ng-container *ngSwitchCase="'NEWS'">
                <app-sdoc-inline-searchpage [label]="'Trip'"
                                            i18n-label="label inline-searchpage TRIP|Label inline-searchpage TRIP@@linline-search.label.sdoc.TRIP"
                                            [params]="getFiltersForType(record, 'TRIP')"
                                            [htmlId]="'TRIP'"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [layout]="Layout.FLAT"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Tracks'"
                                            i18n-label="label inline-searchpage TRACK|Label inline-searchpage TRACK@@linline-search.label.sdoc.TRACK"
                                            [params]="getFiltersForType(record, 'TRACK')"
                                            [htmlId]="'TRACK'"
                                            [showForm]="false"
                                            [showTimetable]="'true'"
                                            [layout]="Layout.FLAT"
                                            [searchLinkLabel]="'Alle'"
                                            [loadTrack]="'Alle'"
                                            (searchResultFound)="onTracksFound($event)"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Bilder'"
                                            i18n-label="label inline-searchpage IMAGE|Label inline-searchpage IMAGE@@linline-search.label.sdoc.IMAGE"
                                            [params]="getFiltersForType(record, 'IMAGE')"
                                            [htmlId]="'NEWSIMAGE'"
                                            [showForm]="false"
                                            [showLayout]="true"
                                            [layout]="Layout.SMALL"
                                            [searchLinkLabel]="'Alle'"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
                <app-sdoc-inline-searchpage [label]="'Routen'"
                                            i18n-label="label inline-searchpage ROUTE|Label inline-searchpage ROUTE@@linline-search.label.sdoc.ROUTE"
                                            [params]="getFiltersForType(record, 'ROUTE')"
                                            [htmlId]="'ROUTE'"
                                            [showForm]="false"
                                            [layout]="Layout.THIN"
                                            [searchLinkLabel]="'Alle'"
                                            [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
            </ng-container>
        </ng-container>
    </div>
</ng-container>
