div.card-block h5 {
    font-size: 0.75rem;
}

div.card-footer div.card-action-buttons {
    float: right;
}

button.show.btn-navigation {
    font-size: 10px;
}

ul.props {
    float: left;
    list-style: none;
    font-size: 0.75rem;
}

div.picture-small {
    width: 300px;
    max-width: 95%;
    max-height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

div.picture-teaser {
    width: 270px;
    max-width: 95%;
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

div.teaser-image-container-outer {
    width: 100%;
    float: left
}
div.teaser-image-container-inner {
    width: 100%;
    max-height:200px;
    overflow: hidden;
}


.teaser {
}
