# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

# project
/installer/docker/mysqldb/docker-entrypoint-initdb.d/*
/installer/docker/solr/cores/*
/documentation/
/src/frontend/shared
/src/frontendserver/shared
/src/frontendserver/shared-node
/src/backend/shared
/src/backend/shared-node
/src/out-tsc
/cache/
/contrib
!/overrides/.gitkeep
!/overrides/after-build/.gitkeep
overrides/after-build/config/*
!/overrides/after-build/config/.gitkeep
overrides/after-build/dist/mytbdev/de/*
overrides/after-build/dist/mytbdev/en/*
!/overrides/after-build/dist/mytbdev/de/.gitkeep
!/overrides/after-build/dist/mytbdev/en/.gitkeep
overrides/after-build/dist/mytbbeta/de/*
overrides/after-build/dist/mytbbeta/en/*
!/overrides/after-build/dist/mytbbeta/de/.gitkeep
!/overrides/after-build/dist/mytbbeta/en/.gitkeep
overrides/after-build/dist/mytb/de/*
overrides/after-build/dist/mytb/en/*
!/overrides/after-build/dist/mytb/de/.gitkeep
!/overrides/after-build/dist/mytb/en/.gitkeep
!/overrides/before-build/.gitkeep
/overrides/before-build/installer/*
!/overrides/before-build/installer/.gitkeep
/overrides/before-build/sbin/*
!/overrides/before-build/sbin/.gitkeep
/overrides/before-build/src/*
!/overrides/before-build/src/.gitkeep
