<ng-container *ngIf="pdoc !== undefined">
    <div [formGroup]="themeFormGroup" class="container content-container" *ngIf="pdoc.heading !== undefined && pdoc.heading.length > 0">
        <h5>{{pdoc.heading}}
            <div>
                <div style="width: 200px;" class="float-right form-inline input-group input-group-sm">
                    <select class="form-control input-sm" name="theme" id="theme" formControlName="theme" (change)="onThemeChange()">
                        <ng-container *ngFor="let section of sections">
                            <ng-container [ngSwitch]="section.type">
                                <ng-container *ngSwitchCase="'SectionOverviewPage'">
                                    <optgroup label="{{section.name}}">
                                        <ng-container *ngFor="let subSection of getSubSections(section)">
                                            <option [value]="subSection.id">{{ subSection.name }}</option>
                                        </ng-container>
                                    </optgroup>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <option [value]="section.theme">{{ section.name }}</option>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </select>
                </div>
            </div>
        </h5>
        <div>{{pdoc.teaser}}</div>
    </div>
</ng-container>
