<ng-container *ngIf="record != undefined">
    <div class="container content-container">
        <div class="card-block">
            <h6 *ngIf="record.locHirarchieIds"><app-tdoc-linked-loc-hierarchy [record]="record" [lastOnly]="false"></app-tdoc-linked-loc-hierarchy></h6>
            <div class="picture-small" style="float: left; margin-right: 10px">
                <h6 class="fx-bg-type">{{record.type | translate }}
                    <ng-container *ngIf="record.subtype">
                        - {{record.subtype | translate }}
                    </ng-container>
                </h6>
            </div>
            <h5><span class="fx-bg-name">{{record.name}}</span></h5>
        </div>
    </div>
    <div class="container content-container">
        <div class="container">
            <app-tdoc-editform [record]="record"
                               [availableForwardModes]="suggestedForwardModes"
                               (saveAndForward)="submitSaveAndForward($event)"></app-tdoc-editform>
        </div>
    </div>
</ng-container>
