<ng-template #contentContainer>
    <div class="container content-container" *ngIf="(pdoc.descHtml !== undefined && pdoc.descHtml.length > 0) || (pdoc.descMd !== undefined && pdoc.descMd.length > 0)">
        <img src="{{pdoc.image}}" width="170px" class="picture" style="float: left; margin: 0 15px 15px 0;" alt="{{pdoc.name}}" *ngIf="pdoc.image !== undefined && pdoc.image.length > 0">
        <div id="desc" class="section-desc section-desc-{{pdoc.id}}"></div>
        {{ renderDesc() }}
        <br clear="both">
    </div>
</ng-template>

<ng-template #searchHintContainer>
    <ng-container *ngIf="pdoc.flgShowSearch || pdoc.flgShowTopTen">
        <div class="container content-container">
            <ng-container *ngIf="pdoc.flgShowSearch">
                <div class="hint_tosearch">
                    <a class="btn btn-action btn-sm" href="{{getToSearchUrl()}}"
                       (click)="submitToSearch()" i18n="link 2search sectionPage|Linktext to search sectionPage@@a.sectionPage.2search">[Also direkt Los]</a></div>
            </ng-container>

            <ng-container *ngIf="pdoc.flgShowSearch && pdoc.flgShowTopTen">
                <p i18n="text search-or sectionPage|Text to search-or sectionPage@@text.sectionPage.searchOr">oder</p>
            </ng-container>

            <ng-container *ngIf="pdoc.flgShowTopTen">
                <div class="hint_tostoebern" i18n="text pokeAround sectionPage|Text to pokeAround sectionPage@@text.sectionPage.pokeAround">Fröhliches Stöbern :-)</div>
            </ng-container>
        </div>
    </ng-container>
</ng-template>

<ng-template #sectionsContainer>
    <ng-container *ngIf="sections.length > 0">
        <ng-container *ngFor="let section of sections">
            <div class="container content-container">
                <app-pdoc-list-item-flat class="app-pdoc-list-item"
                                         [record]="section"
                                         [layout]="Layout.FLAT"
                                         (show)="onShow($event)"></app-pdoc-list-item-flat>
                <div class="container inline-content-container app-pdoc-list" *ngIf="getSubSections(section).length > 0">
                    <app-pdoc-list class="app-pdoc-list"
                                   [records]="getSubSections(section)"
                                   [layout]="Layout.BIG"
                                   (show)="onShow($event)"></app-pdoc-list>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #newsContainer>
    <ng-container *ngIf="pdoc.flgShowNews">
        <div class="container content-container">
            <app-sdoc-inline-searchpage [label]="'News'"
                                        i18n-label="label section-page NEWS|Label section-page NEWS@@linline-search.label.sdoc.NEWS"
                                        [searchLinkLabel]="'Durchsuchen'"
                                        i18n-searchLinkLabel="searchLinkLabel section-page NEWS|SearchLinkLabel section-page NEWS@@linline-search.searchLinkLabel.sdoc.NEWS"
                                        [baseSearchUrl]="baseSearchUrl"
                                        [params]="getFiltersForType(pdoc, 'NEWS', 'date')"
                                        [showForm]="false"
                                        [showResultList]="true"
                                        [loadFacets]="false"
                                        [layout]="Layout.BIG"
                                        [showOnlyIfRecordsFound]="true"></app-sdoc-inline-searchpage>
        </div>
    </ng-container>
</ng-template>

<ng-template #tagcloudContainer>
    <ng-container *ngIf="sdocSearchResult.recordCount > 0">
        <span class="text-bold" i18n="text shortlinks|Hint for shortlinks@@text.searchform.hints.shortLinks">Oder auf einen Klick...</span>
        <app-cdoc-tagcloud [label]="'Was'" [facetName]="'actiontype_ss'" [max]="99"
                           (columnClicked)="onTagcloudClicked($event, 'actiontype')"
                           [searchResult]="routeSearchResult"></app-cdoc-tagcloud>
        <app-cdoc-tagcloud [label]="'Wann'" [facetName]="'month_is'" [valuePrefix]="'month'"
                           [labelPrefix]="'Monat'" [sortKey]="'key'" (columnClicked)="onTagcloudClicked($event, 'when')"
                           [searchResult]="routeSearchResult"></app-cdoc-tagcloud>
        <app-cdoc-tagcloud [label]="'Wo'" [facetName]="'loc_lochirarchie_txt'" [max]="50"
                           (columnClicked)="onTagcloudClicked($event, 'where')" [searchResult]="routeSearchResult">
        </app-cdoc-tagcloud>
        <app-cdoc-tagcloud [label]="'Schwierig?'" [facetName]="'rate_pers_schwierigkeit_is'" [max]="50"
                           (columnClicked)="onTagcloudClicked($event, 'personalRateDifficulty')"
                           [searchResult]="routeSearchResult"></app-cdoc-tagcloud>
        <app-cdoc-tagcloud [label]="'Schwierigkeitsgrad'" [facetName]="'rate_tech_overall_ss'" [max]="50"
                           (columnClicked)="onTagcloudClicked($event, 'techRateOverall')"
                           [searchResult]="routeSearchResult"></app-cdoc-tagcloud>
    </ng-container>
</ng-template>

<ng-template #sidebarContainer>
    <div>
        <div class="text-center">
            <a routerLink="/pages/start">
                <img src="assets/images/banner-big.png" width="200" class="picture-thumbnail align-top">
            </a>
        </div>
        <div  class="text-center">
            <a class="btn btn-action btn-sm" routerLink="/pages/start/search"
               i18n="link 2search sectionPage|Linktext to search sectionPage@@a.sectionPage.2search">Zur Suche</a>
        </div>
    </div>
    <ng-container *ngIf="pdoc.flgShowTopTen && sdocSearchResult.recordCount > 0">
        <div class="hidden-print">
            <ng-container *ngTemplateOutlet="tagcloudContainer"></ng-container>
        </div>
    </ng-container>
</ng-template>

<ng-template #topTenContainer>
    <ng-container *ngIf="pdoc.flgShowTopTen">
        <div class="container content-container">
            <h5><span class="fx-bg-name" i18n="heading shortSearch sectionPage|Heading to shortSearch sectionPage@@heading.sectionPage.shortSearch">Schnellsuche</span></h5>
            <div class="shortsearchform">
                <app-sdoc-searchform [searchResult]="sdocSearchResult"
                                     [short]="'true'"
                                     [showForm]="true"
                                     (search)="onSearchDoc($event)"></app-sdoc-searchform>

            </div>
            <h5><span class="fx-bg-type" i18n="heading relevance-results sectionPage|Heading to relevance-results sectionPage@@heading.sectionPage.relevanceResults">Best Matching</span></h5>
            <ngb-tabset>
                <ngb-tab title="Routen" *ngIf="availableTabs.ROUTE">
                    <ng-template ngbTabContent>
                        <app-sdoc-inline-searchpage [label]="'Routen'"
                                                    i18n-label="label section-page ROUTE|Label section-page ROUTE@@linline-search.label.sdoc.ROUTE"
                                                    [searchLinkLabel]="'Durchsuchen'"
                                                    i18n-searchLinkLabel="searchLinkLabel section-page ROUTE|SearchLinkLabel section-page ROUTE@@linline-search.searchLinkLabel.sdoc.ROUTE"
                                                    [baseSearchUrl]="baseSearchUrl"
                                                    [params]="getFiltersForType(pdoc, 'ROUTE', 'relevance')"
                                                    [showForm]="false"
                                                    [showResultList]="true"
                                                    [loadFacets]="true"
                                                    [layout]="Layout.FLAT"
                                                    (searchResultFound)="onTopTenRouteResultFound($event)"
                                                    [showOnlyIfRecordsFound]="false"></app-sdoc-inline-searchpage>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Regionen" *ngIf="availableTabs.LOCATION">
                    <ng-template ngbTabContent>
                        <app-sdoc-inline-searchpage [label]="'Regionen'"
                                                    i18n-label="label section-page LOCATION|Label section-page LOCATION@@linline-search.label.sdoc.LOCATION"
                                                    [searchLinkLabel]="'Durchsuchen'"
                                                    i18n-searchLinkLabel="searchLinkLabel section-page LOCATION|SearchLinkLabel section-page LOCATION@@linline-search.searchLinkLabel.sdoc.LOCATION"
                                                    [baseSearchUrl]="baseSearchUrl"
                                                    [params]="getFiltersForType(pdoc, 'LOCATION', 'relevance')"
                                                    [showForm]="false"
                                                    [showResultList]="true"
                                                    [loadFacets]="true"
                                                    [layout]="Layout.FLAT"
                                                    (searchResultFound)="onTopTenResultFound($event)"
                                                    [showOnlyIfRecordsFound]="false"></app-sdoc-inline-searchpage>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Bilder" *ngIf="availableTabs.IMAGE">
                    <ng-template ngbTabContent>
                        <app-sdoc-inline-searchpage [label]="'Bilder'"
                                                    i18n-label="label section-page IMAGE|Label section-page IMAGE@@linline-search.label.sdoc.IMAGE"
                                                    [searchLinkLabel]="'Durchsuchen'"
                                                    i18n-searchLinkLabel="searchLinkLabel section-page IMAGE|SearchLinkLabel section-page IMAGE@@linline-search.searchLinkLabel.sdoc.IMAGE"
                                                    [baseSearchUrl]="baseSearchUrl"
                                                    [params]="getFiltersForType(pdoc, 'IMAGE', 'relevance')"
                                                    [showForm]="false"
                                                    [showResultList]="true"
                                                    [loadFacets]="true"
                                                    [layout]="Layout.SMALL"
                                                    (searchResultFound)="onTopTenResultFound($event)"
                                                    [showOnlyIfRecordsFound]="false"></app-sdoc-inline-searchpage>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Tracks" *ngIf="availableTabs.TRACK">
                    <ng-template ngbTabContent>
                        <app-sdoc-inline-searchpage [label]="'Tracks'"
                                                    i18n-label="label section-page TRACK|Label section-page TRACK@@linline-search.label.sdoc.TRACK"
                                                    [searchLinkLabel]="'Durchsuchen'"
                                                    i18n-searchLinkLabel="searchLinkLabel section-page TRACK|SearchLinkLabel section-page TRACK@@linline-search.searchLinkLabel.sdoc.TRACK"
                                                    [baseSearchUrl]="baseSearchUrl"
                                                    [params]="getFiltersForType(pdoc, 'TRACK', 'relevance')"
                                                    [showForm]="false"
                                                    [showResultList]="true"
                                                    [loadFacets]="true"
                                                    [layout]="Layout.FLAT"
                                                    (searchResultFound)="onTopTenResultFound($event)"
                                                    [showOnlyIfRecordsFound]="false"></app-sdoc-inline-searchpage>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Trips" *ngIf="availableTabs.TRIP">
                    <ng-template ngbTabContent>
                        <app-sdoc-inline-searchpage [label]="'Trips'"
                                                    i18n-label="label section-page TRIP|Label section-page TRIP@@linline-search.label.sdoc.TRIP"
                                                    [searchLinkLabel]="'Durchsuchen'"
                                                    i18n-searchLinkLabel="searchLinkLabel section-page TRIP|SearchLinkLabel section-page TRIP@@linline-search.searchLinkLabel.sdoc.TRIP"
                                                    [baseSearchUrl]="baseSearchUrl"
                                                    [params]="getFiltersForType(pdoc, 'TRIP', 'relevance')"
                                                    [showForm]="false"
                                                    [showResultList]="true"
                                                    [loadFacets]="true"
                                                    [layout]="Layout.FLAT"
                                                    (searchResultFound)="onTopTenResultFound($event)"
                                                    [showOnlyIfRecordsFound]="false"></app-sdoc-inline-searchpage>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Videos" *ngIf="availableTabs.VIDEO">
                    <ng-template ngbTabContent>
                        <app-sdoc-inline-searchpage [label]="'Videos'"
                                                    i18n-label="label section-page VIDEO|Label section-page VIDEO@@linline-search.label.sdoc.VIDEO"
                                                    [searchLinkLabel]="'Durchsuchen'"
                                                    i18n-searchLinkLabel="searchLinkLabel section-page VIDEO|SearchLinkLabel section-page VIDEO@@linline-search.searchLinkLabel.sdoc.VIDEO"
                                                    [baseSearchUrl]="baseSearchUrl"
                                                    [params]="getFiltersForType(pdoc, 'VIDEO', 'relevance')"
                                                    [showForm]="false"
                                                    [showResultList]="true"
                                                    [loadFacets]="true"
                                                    [layout]="Layout.SMALL"
                                                    (searchResultFound)="onTopTenResultFound($event)"
                                                    [showOnlyIfRecordsFound]="false"></app-sdoc-inline-searchpage>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Alles" *ngIf="availableTabs.ALL">
                    <ng-template ngbTabContent>
                        <app-sdoc-inline-searchpage [label]="'Alles'"
                                                    i18n-label="label section-page ALL|Label section-page ALL@@linline-search.label.sdoc.ALL"
                                                    [searchLinkLabel]="'Durchsuchen'"
                                                    i18n-searchLinkLabel="searchLinkLabel section-page ALL|SearchLinkLabel section-page ALL@@linline-search.searchLinkLabel.sdoc.ALL"
                                                    [baseSearchUrl]="baseSearchUrl"
                                                    [params]="getFiltersForType(pdoc, '', 'relevance')"
                                                    [showForm]="false"
                                                    [showResultList]="true"
                                                    [loadFacets]="true"
                                                    [layout]="Layout.FLAT"
                                                    (searchResultFound)="onTopTenResultFound($event)"
                                                    [showOnlyIfRecordsFound]="false"></app-sdoc-inline-searchpage>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
            <h5><span class="fx-bg-type" i18n="heading favorite-results sectionPage|Heading to favorite-results sectionPage@@heading.sectionPage.favoriteResults">Favorites</span></h5>
            <ngb-tabset>
                <ngb-tab title="Bilder" *ngIf="availableTabs.IMAGE">
                    <ng-template ngbTabContent>
                        <app-sdoc-inline-searchpage [label]="'Bilder'"
                                                    i18n-label="label section-page IMAGE|Label section-page IMAGE@@linline-search.label.sdoc.IMAGE"
                                                    [searchLinkLabel]="'Durchsuchen'"
                                                    i18n-searchLinkLabel="searchLinkLabel section-page IMAGE|SearchLinkLabel section-page IMAGE@@linline-search.searchLinkLabel.sdoc.IMAGE"
                                                    [baseSearchUrl]="baseSearchUrl"
                                                    [params]="getFiltersForType(pdoc, 'IMAGE', 'ratePers')"
                                                    [showForm]="false"
                                                    [showResultList]="true"
                                                    [loadFacets]="true"
                                                    [layout]="Layout.SMALL"
                                                    (searchResultFound)="onTopTenResultFound($event)"
                                                    [showOnlyIfRecordsFound]="false"></app-sdoc-inline-searchpage>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Routen" *ngIf="availableTabs.ROUTE">
                    <ng-template ngbTabContent>
                        <app-sdoc-inline-searchpage [label]="'Routen'"
                                                    i18n-label="label section-page ROUTE|Label section-page ROUTE@@linline-search.label.sdoc.ROUTE"
                                                    [searchLinkLabel]="'Durchsuchen'"
                                                    i18n-searchLinkLabel="searchLinkLabel section-page ROUTE|SearchLinkLabel section-page ROUTE@@linline-search.searchLinkLabel.sdoc.ROUTE"
                                                    [baseSearchUrl]="baseSearchUrl"
                                                    [params]="getFiltersForType(pdoc, 'ROUTE', 'ratePers')"
                                                    [showForm]="false"
                                                    [showResultList]="true"
                                                    [loadFacets]="true"
                                                    [layout]="Layout.FLAT"
                                                    (searchResultFound)="onTopTenResultFound($event)"
                                                    [showOnlyIfRecordsFound]="false"></app-sdoc-inline-searchpage>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Tracks" *ngIf="availableTabs.TRACK">
                    <ng-template ngbTabContent>
                        <app-sdoc-inline-searchpage [label]="'Tracks'"
                                                    i18n-label="label section-page TRACK|Label section-page TRACK@@linline-search.label.sdoc.TRACK"
                                                    [searchLinkLabel]="'Durchsuchen'"
                                                    i18n-searchLinkLabel="searchLinkLabel section-page TRACK|SearchLinkLabel section-page TRACK@@linline-search.searchLinkLabel.sdoc.TRACK"
                                                    [baseSearchUrl]="baseSearchUrl"
                                                    [params]="getFiltersForType(pdoc, 'TRACK', 'ratePers')"
                                                    [showForm]="false"
                                                    [showResultList]="true"
                                                    [loadFacets]="true"
                                                    [layout]="Layout.FLAT"
                                                    (searchResultFound)="onTopTenResultFound($event)"
                                                    [showOnlyIfRecordsFound]="false"></app-sdoc-inline-searchpage>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Videos" *ngIf="availableTabs.VIDEO">
                    <ng-template ngbTabContent>
                        <app-sdoc-inline-searchpage [label]="'Videos'"
                                                    i18n-label="label section-page VIDEO|Label section-page VIDEO@@linline-search.label.sdoc.VIDEO"
                                                    [searchLinkLabel]="'Durchsuchen'"
                                                    i18n-searchLinkLabel="searchLinkLabel section-page VIDEO|SearchLinkLabel section-page VIDEO@@linline-search.searchLinkLabel.sdoc.VIDEO"
                                                    [baseSearchUrl]="baseSearchUrl"
                                                    [params]="getFiltersForType(pdoc, 'VIDEO', 'ratePers')"
                                                    [showForm]="false"
                                                    [showResultList]="true"
                                                    [loadFacets]="true"
                                                    [layout]="Layout.SMALL"
                                                    (searchResultFound)="onTopTenResultFound($event)"
                                                    [showOnlyIfRecordsFound]="false"></app-sdoc-inline-searchpage>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Alles" *ngIf="availableTabs.ALL">
                    <ng-template ngbTabContent>
                        <app-sdoc-inline-searchpage [label]="'Alles'"
                                                    i18n-label="label section-page ALL|Label section-page ALL@@linline-search.label.sdoc.ALL"
                                                    [searchLinkLabel]="'Durchsuchen'"
                                                    i18n-searchLinkLabel="searchLinkLabel section-page ALL|SearchLinkLabel section-page ALL@@linline-search.searchLinkLabel.sdoc.ALL"
                                                    [baseSearchUrl]="baseSearchUrl"
                                                    [params]="getFiltersForType(pdoc, '', 'ratePers')"
                                                    [showForm]="false"
                                                    [showResultList]="true"
                                                    [loadFacets]="true"
                                                    [layout]="Layout.FLAT"
                                                    (searchResultFound)="onTopTenResultFound($event)"
                                                    [showOnlyIfRecordsFound]="false"></app-sdoc-inline-searchpage>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
            <div (click)="onScrollToTop()" class="scroll-to-top-container hidden-print"><span></span></div>
        </div>
    </ng-container>
</ng-template>


<ng-container *ngIf="pdoc !== undefined">
    <ng-container [ngSwitch]="searchFormLayout">
        <ng-container *ngSwitchCase="SearchFormLayout.STACKED">
            <div class="container content-container" style="width: 25%; float: right">
                <ng-container *ngTemplateOutlet="sidebarContainer"></ng-container>
            </div>

            <div style="width: 73%; display: inline-block;">
                <ng-container *ngTemplateOutlet="contentContainer"></ng-container>
                <ng-container *ngTemplateOutlet="searchHintContainer"></ng-container>
                <ng-container *ngTemplateOutlet="newsContainer"></ng-container>
                <ng-container *ngTemplateOutlet="sectionsContainer"></ng-container>
                <ng-container *ngTemplateOutlet="topTenContainer"></ng-container>
            </div>
        </ng-container>
        <ng-container *ngSwitchDefault="">
            <ng-container *ngTemplateOutlet="contentContainer"></ng-container>
            <ng-container *ngTemplateOutlet="searchHintContainer"></ng-container>
            <ng-container *ngTemplateOutlet="newsContainer"></ng-container>
            <ng-container *ngTemplateOutlet="sectionsContainer"></ng-container>
            <ng-container *ngTemplateOutlet="topTenContainer"></ng-container>
            <ng-container *ngIf="pdoc.flgShowTopTen">
                <div class="container content-container hidden-print">
                    <ng-container *ngTemplateOutlet="tagcloudContainer"></ng-container>
                    <div (click)="onScrollToTop()" class="scroll-to-top-container hidden-print"><span></span></div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>
