.hint_tosearch, .hint_tostoebern {
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}
p {
    width: 100%;
    text-align: center;
}
div.app-pdoc-list {
    padding: 5px;
}