<ng-container *ngIf="pdoc !== undefined">
    <ng-container [ngSwitch]="searchFormLayout">
        <ng-container *ngSwitchCase="SearchFormLayout.STACKED">
            <div class="container content-container sectionpage-stacked-sidebar-container" style="width: 25%; float: right">
                <ng-container *ngTemplateOutlet="sidebarContainer"></ng-container>
            </div>

            <div class="sectionpage-stacked-left-content-container" style="width: 73%; display: inline-block;">
                <ng-container *ngFor="let pageContainer of pageContainerOrder">
                    <ng-container [ngSwitch]="pageContainer">
                        <ng-container *ngSwitchCase="'contentContainer'">
                            <ng-container *ngTemplateOutlet="contentContainer"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'searchHintContainer'">
                            <ng-container *ngTemplateOutlet="searchHintContainer"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'newsContainer'">
                            <ng-container *ngTemplateOutlet="newsContainer"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'sectionsContainer'">
                            <ng-container *ngTemplateOutlet="sectionsContainer"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'topTenContainer'">
                            <ng-container *ngTemplateOutlet="topTenContainer"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'dashBoardContainer'">
                            <ng-container *ngTemplateOutlet="dashBoardContainer"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'adminAreaContainer'">
                            <ng-container *ngTemplateOutlet="adminAreaContainer"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'statisticBoardContainer'">
                            <ng-container *ngTemplateOutlet="statisticBoardContainer"></ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngSwitchDefault="">
                <ng-container *ngFor="let pageContainer of pageContainerOrder">
                    <ng-container [ngSwitch]="pageContainer">
                        <ng-container *ngSwitchCase="'contentContainer'">
                            <ng-container *ngTemplateOutlet="contentContainer"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'searchHintContainer'">
                            <ng-container *ngTemplateOutlet="searchHintContainer"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'newsContainer'">
                            <ng-container *ngTemplateOutlet="newsContainer"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'sectionsContainer'">
                            <ng-container *ngTemplateOutlet="sectionsContainer"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'topTenContainer'">
                            <ng-container *ngTemplateOutlet="topTenContainer"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'dashBoardContainer'">
                            <ng-container *ngTemplateOutlet="dashBoardContainer"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'adminAreaContainer'">
                            <ng-container *ngTemplateOutlet="adminAreaContainer"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'tagcloudContainer'">
                            <ng-container *ngIf="flgShowTopTen">
                                <div class="container content-container hidden-print">
                                    <ng-container *ngTemplateOutlet="tagcloudContainer"></ng-container>
                                    <div (click)="onScrollToTop()" class="scroll-to-top-container hidden-print"><span></span></div>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'statisticBoardContainer'">
                            <ng-container *ngTemplateOutlet="statisticBoardContainer"></ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #contentContainer>
    <div class="container content-container sectionpage-content-container" *ngIf="(pdoc.descHtml !== undefined && pdoc.descHtml.length > 0) || (pdoc.descMd !== undefined && pdoc.descMd.length > 0)">
        <img src="{{pdoc.image}}" width="170px" class="picture" style="float: left; margin: 0 15px 15px 0;" alt="{{pdoc.name}}" *ngIf="pdoc.image !== undefined && pdoc.image.length > 0">
        <div id="desc" class="section-desc section-desc-{{pdoc.id}}"></div>
        {{ renderDesc() }}
        <br clear="both">
    </div>
</ng-template>

<ng-template #searchHintContainer>
    <ng-container *ngIf="flgShowSearch || flgShowTopTen">
        <div class="container content-container sectionpage-hint-content-container hidden-print">
            <ng-container *ngIf="flgShowSearch">
                <div class="hint_tosearch">
                    <a class="btn btn-action btn-sm" href="{{getToSearchUrl()}}"
                       (click)="submitToSearch()" i18n="link 2search sectionPage|Linktext to search sectionPage@@a.sectionPage.2search">[Also direkt Los]</a></div>
            </ng-container>

            <ng-container *ngIf="flgShowSearch && flgShowTopTen">
                <p i18n="text search-or sectionPage|Text to search-or sectionPage@@text.sectionPage.searchOr">oder</p>
            </ng-container>

            <ng-container *ngIf="flgShowTopTen">
                <div class="hint_tostoebern" i18n="text pokeAround sectionPage|Text to pokeAround sectionPage@@text.sectionPage.pokeAround">Fröhliches Stöbern :-)</div>
            </ng-container>
        </div>
    </ng-container>
</ng-template>

<ng-template #sectionsContainer>
    <ng-container *ngIf="sections.length > 0">
        <ng-container *ngFor="let section of sections">
            <div class="container content-container sectionpage-sections-container">
                <app-section-list-item-flat class="app-section-list-item"
                                         [record]="section"
                                         [layout]="Layout.FLAT"
                                         (show)="onShow($event)"></app-section-list-item-flat>
                <div class="container inline-content-container app-section-list" *ngIf="getSubSections(section).length > 0">
                    <app-section-list class="app-section-list"
                                   [records]="getSubSections(section)"
                                   [layout]="Layout.BIG"
                                   (show)="onShow($event)"></app-section-list>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #newsContainer>
    <ng-container *ngIf="flgShowNews">
        <div class="container content-container">
            <app-tdoc-inline-searchpage [label]="'News'"
                                        i18n-label="label section-page NEWS|Label section-page NEWS@@linline-search.label.tdoc.NEWS"
                                        [searchLinkLabel]="'Durchsuchen'"
                                        i18n-searchLinkLabel="searchLinkLabel section-page NEWS|SearchLinkLabel section-page NEWS@@linline-search.searchLinkLabel.tdoc.NEWS"
                                        [baseSearchUrl]="baseSearchUrl"
                                        [params]="getFiltersForType('NEWS', 'date')"
                                        [showForm]="false"
                                        [showResultList]="true"
                                        [loadFacets]="false"
                                        [layout]="Layout.BIG"
                                        [showOnlyIfRecordsFound]="true"></app-tdoc-inline-searchpage>
        </div>
    </ng-container>
</ng-template>

<ng-template #tagcloudContainer>
    <ng-container *ngIf="tdocSearchResult.recordCount > 0">
        <span class="text-bold" i18n="text shortlinks|Hint for shortlinks@@text.searchform.hints.shortLinks">Oder auf einen Klick...</span>
        <app-cdoc-tagcloud [label]="'Was'" [facetName]="'actiontype_ss'" [max]="99"
                           (columnClicked)="onTagcloudClicked($event, 'actiontype')"
                           [searchResult]="routeSearchResult"></app-cdoc-tagcloud>
        <app-cdoc-tagcloud [label]="'Wann'" [facetName]="'month_is'" [valuePrefix]="'month'"
                           [labelPrefix]="'Monat'" [sortKey]="'key'" (columnClicked)="onTagcloudClicked($event, 'when')"
                           [searchResult]="routeSearchResult"></app-cdoc-tagcloud>
        <app-cdoc-tagcloud [label]="'Wo'" [facetName]="'loc_lochirarchie_txt'" [max]="50"
                           (columnClicked)="onTagcloudClicked($event, 'where')" [searchResult]="routeSearchResult">
        </app-cdoc-tagcloud>
        <app-cdoc-tagcloud [label]="'Schwierig?'" [facetName]="'rate_pers_schwierigkeit_is'" [max]="50"
                           (columnClicked)="onTagcloudClicked($event, 'personalRateDifficulty')"
                           [searchResult]="routeSearchResult"></app-cdoc-tagcloud>
        <app-cdoc-tagcloud [label]="'Schwierigkeitsgrad'" [facetName]="'rate_tech_overall_ss'" [max]="50"
                           (columnClicked)="onTagcloudClicked($event, 'techRateOverall')"
                           [searchResult]="routeSearchResult"></app-cdoc-tagcloud>
        <app-cdoc-tagcloud [label]="'Dauer in h '" [facetName]="'data_tech_dur_facet_fs'" [max]="50"
                           (columnClicked)="onTagcloudClicked($event, 'techDataDuration')"
                           [searchResult]="routeSearchResult"></app-cdoc-tagcloud>
        <app-cdoc-tagcloud [label]="'Länge in km'" [facetName]="'data_tech_dist_facets_fs'" [max]="50"
                           (columnClicked)="onTagcloudClicked($event, 'techDataDistance')"
                           [searchResult]="routeSearchResult"></app-cdoc-tagcloud>
        <app-cdoc-tagcloud [label]="'Höhe in m'" [facetName]="'data_tech_alt_max_facet_is'" [max]="50"
                           (columnClicked)="onTagcloudClicked($event, 'techDataAltitudeMax')"
                           [searchResult]="routeSearchResult"></app-cdoc-tagcloud>
        <app-cdoc-tagcloud [label]="'Aufstieg in hm'" [facetName]="'data_tech_alt_asc_facet_is'" [max]="50"
                           (columnClicked)="onTagcloudClicked($event, 'techDataAscent')"
                           [searchResult]="routeSearchResult"></app-cdoc-tagcloud>
        <app-cdoc-tagcloud [label]="'Etappen'" [facetName]="'data_tech_sections_facet_ss'" [max]="50"
                           (columnClicked)="onTagcloudClicked($event, 'techDataSections')"
                           [searchResult]="routeSearchResult"></app-cdoc-tagcloud>
    </ng-container>
</ng-template>

<ng-template #sidebarContainer>
    <div class="sectionpage-sidebar-container">
        <div class="text-center">
            <a routerLink="/pages/start">
                <img src="assets/images/banner-big.gif" width="200" class="picture-thumbnail align-top img-sidebar-banner" alt=" ">
            </a>
        </div>
        <div  class="text-center">
            <a class="btn btn-action btn-sm" routerLink="/pages/start/search"
               i18n="link 2search sectionPage|Linktext to search sectionPage@@a.sectionPage.2search">Zur Suche</a>
        </div>
    </div>
    <ng-container *ngIf="flgShowTopTen && tdocSearchResult.recordCount > 0">
        <div class="hidden-print sectionpage-sidebar-tagcloud-container">
            <ng-container *ngTemplateOutlet="tagcloudContainer"></ng-container>
        </div>
    </ng-container>
</ng-template>

<ng-template #dashboardTable let-availableDashboardRows="availableDashboardRows"
             let-dashboardRows="dashboardRows"
             let-availableDashboardColumns="availableDashboardColumns"
             let-dashboardColumns="dashboardColumns"
             let-dashboardTitle="dashboardTitle">
    <ng-container *ngIf="availableDashboardRows && availableDashboardColumns
        && objectKeys(availableDashboardRows).length > 0 && objectKeys(availableDashboardColumns).length > 0">
        <h5><span class="fx-bg-type">{{dashboardTitle}}</span></h5>
        <table class="table-dashboard">
            <tr>
                <th i18n="tableheading dashboard columnProfile|Tableheading to dashboard columnProfile@@tableheading.dashboard.columnProfile">Profil</th>
                <ng-container *ngFor="let type of objectKeys(availableDashboardColumns)">
                    <th *ngIf="availableDashboardColumns[type]">{{type | translate}}</th>
                </ng-container>
            </tr>
            <ng-container *ngFor="let dashboardRowType of dashboardRows">
                <tr *ngIf="availableDashboardRows[dashboardRowType]">
                    <td class="dashboardcolumn-available">{{ 'label.dashboardColumn.' + dashboardRowType | translate}}</td>
                    <ng-container *ngFor="let type of dashboardColumns">
                        <td *ngIf="availableDashboardColumns[type]"
                            [ngClass]="getDashboardVisibilityForType(dashboardRowType, type) ? 'dashboardcolumn-available' : 'dashboardcolumn-unavailable'">
                            <app-tdoc-dashboard-searchcolumn [baseSearchUrl]="baseSearchUrl"
                                                             [params]="getDashboardFiltersForType(dashboardRowType, type, 'forExport')"
                                                             [showOnlyIfRecordsFound]="false"
                                                             *ngIf="getDashboardVisibilityForType(dashboardRowType, type)"></app-tdoc-dashboard-searchcolumn>
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
        </table>
    </ng-container>
</ng-template>

<ng-template #dashBoard>
    <ng-container *ngTemplateOutlet="dashboardTable;context:{dashboardTitle: 'Dashboard ToDos',
                        dashboardRows: objectKeys(availableToDoDashboardRows),
                        availableDashboardRows: availableToDoDashboardRows,
                        dashboardColumns: objectKeys(availableDashboardColumns),
                        availableDashboardColumns: availableDashboardColumns
                        }"></ng-container>

    <ng-container *ngTemplateOutlet="dashboardTable;context:{dashboardTitle: 'Dashboard Erledigt',
                        dashboardRows: objectKeys(availableDoneDashboardRows),
                        availableDashboardRows: availableDoneDashboardRows,
                        dashboardColumns: objectKeys(availableDashboardColumns),
                        availableDashboardColumns: availableDashboardColumns
                        }"></ng-container>

</ng-template>

<ng-template #statisticBoardTable let-statisticBoardData="statisticBoardData"
             let-statisticBoardTitle="statisticBoardTitle"
             let-statisticSearchForm="statisticSearchForm"
             >
    <ng-container *ngIf="statisticBoardData && statisticBoardData.length > 0">
        <h5><span class="fx-bg-type">{{statisticBoardTitle}}</span></h5>
        <table [ngClass]="'table-statisticBoard ' + (statisticSearchForm ? 'statisticBoard-linked' : '')">
            <tr>
                <ng-container *ngFor="let header of statisticBoardData[0].slice(1); let index = index">
                    <th>
                        <a (click)="onStatisticClicked(statisticSearchForm, statisticBoardData, '', index + 1)">{{header}}</a>
                    </th>
                </ng-container>
            </tr>

            <ng-container *ngFor="let row of statisticBoardData.slice(1)">
                <tr>
                    <td>
                        <a (click)="onStatisticClicked(statisticSearchForm, statisticBoardData, row[0], undefined)">{{row[1]}}</a>
                    </td>

                    <ng-container *ngFor="let column of row.slice(2); let index = index">
                        <td [ngClass]="column > 0 ? 'statisticBoardcolumn-available' : 'statisticBoardcolumn-unavailable'">
                            <a (click)="onStatisticClicked(statisticSearchForm, statisticBoardData, row[0], index + 2)">{{column}}</a>
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
        </table>
    </ng-container>
</ng-template>

<ng-template #statisticBoard>
    <ng-container *ngIf="statistics && statistics['TRACK']">
        <ng-container *ngTemplateOutlet="statisticBoardTable;context:{statisticBoardTitle: 'Begehungen',
                        statisticType: 'TRACK',
                        statisticSearchForm: { type: 'TRACK'},
                        statisticBoardData: statistics['TRACK']['TRACK_NEW']
                        }"></ng-container>
    </ng-container>
    <ng-container *ngIf="statistics && statistics['ROUTE']">
        <ng-container *ngTemplateOutlet="statisticBoardTable;context:{statisticBoardTitle: 'Neu Begangene Routen',
                        statisticType: 'ROUTE',
                        statisticSearchForm: { type: 'ROUTE'},
                        statisticBoardData: statistics['ROUTE']['ROUTE_NEW']
                        }"></ng-container>
    </ng-container>
    <ng-container *ngIf="statistics && statistics['DESTINATION']">
        <ng-container *ngTemplateOutlet="statisticBoardTable;context:{statisticBoardTitle: 'Neu Begangene Ziele',
                        statisticType: 'DESTINATION',
                        statisticSearchForm: { type: 'DESTINATION'},
                        statisticBoardData: statistics['DESTINATION']['DESTINATION_NEW']
                        }"></ng-container>
    </ng-container>
    <ng-container *ngIf="statistics && statistics['POI']">
        <ng-container *ngTemplateOutlet="statisticBoardTable;context:{statisticBoardTitle: 'Neu begangene Gipfel-Poi',
                        statisticType: 'POI',
                        statisticSearchForm: { type: 'POI', what: 'natural_peak'},
                        statisticBoardData: statistics['POI']['POI_PEAK_NEW']
                        }"></ng-container>
        <ng-container *ngTemplateOutlet="statisticBoardTable;context:{statisticBoardTitle: 'Neu begangene Poi',
                        statisticType: 'POI',
                        statisticSearchForm: { type: 'POI'},
                        statisticBoardData: statistics['POI']['POI_NEW']
                        }"></ng-container>
    </ng-container>
    <ng-container *ngIf="statistics && statistics['ROUTE']">
        <ng-container *ngTemplateOutlet="statisticBoardTable;context:{statisticBoardTitle: 'Wiederholte Routen',
                        statisticType: 'DESTINATION',
                        statisticBoardData: statistics['ROUTE']['ROUTE_DONE']
                        }"></ng-container>
    </ng-container>
    <ng-container *ngIf="statistics && statistics['DESTINATION']">
        <ng-container *ngTemplateOutlet="statisticBoardTable;context:{statisticBoardTitle: 'Wiederholte Ziele',
                        statisticType: 'DESTINATION',
                        statisticBoardData: statistics['DESTINATION']['DESTINATION_DONE']
                        }"></ng-container>
    </ng-container>
</ng-template>


<ng-template #adminArea>
    <app-admin-jobarea></app-admin-jobarea>
</ng-template>

<ng-template #bestMatching>
    <h5><span class="fx-bg-type" i18n="heading relevance-results sectionPage|Heading to relevance-results sectionPage@@heading.sectionPage.relevanceResults">Best Matching</span></h5>
    <ngb-tabset>
        <ngb-tab *ngFor="let bestMatchingTab of bestMatchingTabsOrder">

            <ng-template ngbTabTitle *ngIf="bestMatchingTab == 'ROUTE'">
                Routen
            </ng-template>
            <ng-template ngbTabContent *ngIf="bestMatchingTab == 'ROUTE'">
                <app-tdoc-inline-searchpage [label]="'Routen'"
                                            i18n-label="label section-page ROUTE|Label section-page ROUTE@@linline-search.label.tdoc.ROUTE"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page ROUTE|SearchLinkLabel section-page ROUTE@@linline-search.searchLinkLabel.tdoc.ROUTE"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('ROUTE', 'relevance')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="true"
                                            [layout]="Layout.BIG"
                                            (searchResultFound)="onTopTenRouteResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>

            <ng-template ngbTabTitle *ngIf="bestMatchingTab == 'DESTINATION'">
                Ziele
            </ng-template>
            <ng-template ngbTabContent *ngIf="bestMatchingTab == 'DESTINATION'">
                <app-tdoc-inline-searchpage [label]="'Ziele'"
                                            i18n-label="label section-page DESTINATION|Label section-page DESTINATION@@linline-search.label.tdoc.DESTINATION"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page DESTINATION|SearchLinkLabel section-page DESTINATION@@linline-search.searchLinkLabel.tdoc.DESTINATION"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('DESTINATION', 'relevance')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="true"
                                            [layout]="Layout.BIG"
                                            (searchResultFound)="onTopTenDestinationResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>

            <ng-template ngbTabTitle *ngIf="bestMatchingTab == 'LOCATION'">
                Regionen
            </ng-template>
            <ng-template ngbTabContent *ngIf="bestMatchingTab == 'LOCATION'">
                <app-tdoc-inline-searchpage [label]="'Regionen'"
                                            i18n-label="label section-page LOCATION|Label section-page LOCATION@@linline-search.label.tdoc.LOCATION"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page LOCATION|SearchLinkLabel section-page LOCATION@@linline-search.searchLinkLabel.tdoc.LOCATION"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('LOCATION', 'relevance')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="true"
                                            [layout]="Layout.BIG"
                                            (searchResultFound)="onTopTenResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>

            <ng-template ngbTabTitle *ngIf="bestMatchingTab == 'IMAGE'">
                Bilder
            </ng-template>
            <ng-template ngbTabContent *ngIf="bestMatchingTab == 'IMAGE'">
                <app-tdoc-inline-searchpage [label]="'Bilder'"
                                            i18n-label="label section-page IMAGE|Label section-page IMAGE@@linline-search.label.tdoc.IMAGE"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page IMAGE|SearchLinkLabel section-page IMAGE@@linline-search.searchLinkLabel.tdoc.IMAGE"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('IMAGE', 'relevance')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="true"
                                            [layout]="Layout.BIG"
                                            [perPageOnToSearchPage]=20
                                            (searchResultFound)="onTopTenResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>

            <ng-template ngbTabTitle *ngIf="bestMatchingTab == 'TRACK'">
                Tracks
            </ng-template>
            <ng-template ngbTabContent *ngIf="bestMatchingTab == 'TRACK'">
                <app-tdoc-inline-searchpage [label]="'Tracks'"
                                            i18n-label="label section-page TRACK|Label section-page TRACK@@linline-search.label.tdoc.TRACK"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page TRACK|SearchLinkLabel section-page TRACK@@linline-search.searchLinkLabel.tdoc.TRACK"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('TRACK', 'relevance')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="true"
                                            [layout]="Layout.BIG"
                                            (searchResultFound)="onTopTenResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>

            <ng-template ngbTabTitle *ngIf="bestMatchingTab == 'TRIP'">
                Trips
            </ng-template>
            <ng-template ngbTabContent *ngIf="bestMatchingTab == 'TRIP'">
                <app-tdoc-inline-searchpage [label]="'Trips'"
                                            i18n-label="label section-page TRIP|Label section-page TRIP@@linline-search.label.tdoc.TRIP"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page TRIP|SearchLinkLabel section-page TRIP@@linline-search.searchLinkLabel.tdoc.TRIP"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('TRIP', 'relevance')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="true"
                                            [layout]="Layout.BIG"
                                            (searchResultFound)="onTopTenResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>

            <ng-template ngbTabTitle *ngIf="bestMatchingTab == 'VIDEO'">
                Videos
            </ng-template>
            <ng-template ngbTabContent *ngIf="bestMatchingTab == 'VIDEO'">
                <app-tdoc-inline-searchpage [label]="'Videos'"
                                            i18n-label="label section-page VIDEO|Label section-page VIDEO@@linline-search.label.tdoc.VIDEO"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page VIDEO|SearchLinkLabel section-page VIDEO@@linline-search.searchLinkLabel.tdoc.VIDEO"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('VIDEO', 'relevance')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="true"
                                            [layout]="Layout.BIG"
                                            (searchResultFound)="onTopTenResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>

            <ng-template ngbTabTitle *ngIf="bestMatchingTab == 'INFO'">
                Infos
            </ng-template>
            <ng-template ngbTabContent *ngIf="bestMatchingTab == 'INFO'">
                <app-tdoc-inline-searchpage [label]="'Infos'"
                                            i18n-label="label section-page INFO|Label section-page INFO@@linline-search.label.tdoc.INFO"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page INFO|SearchLinkLabel section-page INFO@@linline-search.searchLinkLabel.tdoc.INFO"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('INFO', 'relevance')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="true"
                                            [layout]="Layout.FLAT"
                                            (searchResultFound)="onTopTenResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>

            <ng-template ngbTabTitle *ngIf="bestMatchingTab == 'PLAYLIST'">
                Playlists
            </ng-template>
            <ng-template ngbTabContent *ngIf="bestMatchingTab == 'PLAYLIST'">
                <app-tdoc-inline-searchpage [label]="'Playlists'"
                                            i18n-label="label section-page PLAYLIST|Label section-page PLAYLIST@@linline-search.label.tdoc.PLAYLIST"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page PLAYLIST|SearchLinkLabel section-page PLAYLIST@@linline-search.searchLinkLabel.tdoc.PLAYLIST"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('PLAYLIST', 'relevance')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="false"
                                            [layout]="Layout.FLAT"
                                            (searchResultFound)="onTopTenResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>

            <ng-template ngbTabTitle *ngIf="bestMatchingTab == 'POI'">
                POIs
            </ng-template>
            <ng-template ngbTabContent *ngIf="bestMatchingTab == 'POI'">
                <app-tdoc-inline-searchpage [label]="'POIs'"
                                            i18n-label="label section-page POI|Label section-page POI@@linline-search.label.tdoc.POI"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page POI|SearchLinkLabel section-page POI@@linline-search.searchLinkLabel.tdoc.POI"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('POI', 'relevance')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="false"
                                            [layout]="Layout.FLAT"
                                            (searchResultFound)="onTopTenResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>

            <ng-template ngbTabTitle *ngIf="bestMatchingTab == 'ALL'">
                Alles
            </ng-template>
            <ng-template ngbTabContent *ngIf="bestMatchingTab == 'ALL'">
                <app-tdoc-inline-searchpage [label]="'Alles'"
                                            i18n-label="label section-page ALL|Label section-page ALL@@linline-search.label.tdoc.ALL"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page ALL|SearchLinkLabel section-page ALL@@linline-search.searchLinkLabel.tdoc.ALL"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('', 'relevance')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="true"
                                            [layout]="Layout.FLAT"
                                            (searchResultFound)="onTopTenResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</ng-template>

<ng-template #favorites>
    <h5><span class="fx-bg-type" i18n="heading favorite-results sectionPage|Heading to favorite-results sectionPage@@heading.sectionPage.favoriteResults">Favorites</span></h5>
    <ngb-tabset>
        <ngb-tab *ngFor="let favoritesTab of favoritesTabsOrder">

            <ng-template ngbTabTitle *ngIf="favoritesTab == 'IMAGE'">
                Bilder
            </ng-template>
            <ng-template ngbTabContent *ngIf="favoritesTab == 'IMAGE'">
                <app-tdoc-inline-searchpage [label]="'Bilder'"
                                            i18n-label="label section-page IMAGE|Label section-page IMAGE@@linline-search.label.tdoc.IMAGE"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page IMAGE|SearchLinkLabel section-page IMAGE@@linline-search.searchLinkLabel.tdoc.IMAGE"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('IMAGE', 'ratePers')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="true"
                                            [layout]="Layout.BIG"
                                            [perPageOnToSearchPage]=20
                                            (searchResultFound)="onTopTenResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>

            <ng-template ngbTabTitle *ngIf="favoritesTab == 'ROUTE'">
                Routen
            </ng-template>
            <ng-template ngbTabContent *ngIf="favoritesTab == 'ROUTE'">
                <app-tdoc-inline-searchpage [label]="'Routen'"
                                            i18n-label="label section-page ROUTE|Label section-page ROUTE@@linline-search.label.tdoc.ROUTE"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page ROUTE|SearchLinkLabel section-page ROUTE@@linline-search.searchLinkLabel.tdoc.ROUTE"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('ROUTE', 'ratePers')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="true"
                                            [layout]="Layout.BIG"
                                            (searchResultFound)="onTopTenResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>

            <ng-template ngbTabTitle *ngIf="favoritesTab == 'DESTINATION'">
                Ziele
            </ng-template>
            <ng-template ngbTabContent *ngIf="favoritesTab == 'DESTINATION'">
                <app-tdoc-inline-searchpage [label]="'Ziele'"
                                            i18n-label="label section-page DESTINATION|Label section-page DESTINATION@@linline-search.label.tdoc.DESTINATION"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page DESTINATION|SearchLinkLabel section-page DESTINATION@@linline-search.searchLinkLabel.tdoc.DESTINATION"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('DESTINATION', 'ratePers')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="true"
                                            [layout]="Layout.BIG"
                                            (searchResultFound)="onTopTenResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>

            <ng-template ngbTabTitle *ngIf="favoritesTab == 'TRACK'">
                Tracks
            </ng-template>
            <ng-template ngbTabContent *ngIf="favoritesTab == 'TRACK'">
                <app-tdoc-inline-searchpage [label]="'Tracks'"
                                            i18n-label="label section-page TRACK|Label section-page TRACK@@linline-search.label.tdoc.TRACK"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page TRACK|SearchLinkLabel section-page TRACK@@linline-search.searchLinkLabel.tdoc.TRACK"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('TRACK', 'ratePers')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="true"
                                            [layout]="Layout.BIG"
                                            (searchResultFound)="onTopTenResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>

            <ng-template ngbTabTitle *ngIf="favoritesTab == 'VIDEO'">
                Videos
            </ng-template>
            <ng-template ngbTabContent *ngIf="favoritesTab == 'VIDEO'">
                <app-tdoc-inline-searchpage [label]="'Videos'"
                                            i18n-label="label section-page VIDEO|Label section-page VIDEO@@linline-search.label.tdoc.VIDEO"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page VIDEO|SearchLinkLabel section-page VIDEO@@linline-search.searchLinkLabel.tdoc.VIDEO"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('VIDEO', 'ratePers')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="true"
                                            [layout]="Layout.BIG"
                                            (searchResultFound)="onTopTenResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>

            <ng-template ngbTabTitle *ngIf="favoritesTab == 'ALL'">
                Alles
            </ng-template>
            <ng-template ngbTabContent *ngIf="favoritesTab == 'ALL'">
                <app-tdoc-inline-searchpage [label]="'Alles'"
                                            i18n-label="label section-page ALL|Label section-page ALL@@linline-search.label.tdoc.ALL"
                                            [searchLinkLabel]="'Durchsuchen'"
                                            i18n-searchLinkLabel="searchLinkLabel section-page ALL|SearchLinkLabel section-page ALL@@linline-search.searchLinkLabel.tdoc.ALL"
                                            [baseSearchUrl]="baseSearchUrl"
                                            [params]="getFiltersForType('', 'ratePers')"
                                            [showForm]="false"
                                            [showResultList]="true"
                                            [loadFacets]="true"
                                            [layout]="Layout.BIG"
                                            (searchResultFound)="onTopTenResultFound($event)"
                                            [showOnlyIfRecordsFound]="false"></app-tdoc-inline-searchpage>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</ng-template>

<ng-template #topTenContainer>
    <ng-container *ngIf="flgShowTopTen">
        <div class="container content-container sectionpage-topten-container">
            <h5><span class="fx-bg-name" i18n="heading shortSearch sectionPage|Heading to shortSearch sectionPage@@heading.sectionPage.shortSearch">Schnellsuche</span></h5>
            <div class="shortsearchform">
                <app-tdoc-searchform [searchResult]="tdocSearchResult"
                                     [short]="'true'"
                                     [showForm]="true"
                                     (search)="onSearchDoc($event)"></app-tdoc-searchform>
            </div>

            <ng-container *ngTemplateOutlet="bestMatching"></ng-container>
            <ng-container *ngTemplateOutlet="favorites"></ng-container>
            <div (click)="onScrollToTop()" class="scroll-to-top-container hidden-print"><span></span></div>
        </div>
    </ng-container>
</ng-template>

<ng-template #dashBoardContainer>
    <ng-container *ngIf="flgShowDashboard
     && ((availableToDoDashboardRows && objectKeys(availableToDoDashboardRows).length > 0)
        || (availableDoneDashboardRows && objectKeys(availableDoneDashboardRows).length > 0))">
        <div class="container content-container sectionpage-dashBoard-container">
            <ng-container *ngTemplateOutlet="dashBoard"></ng-container>
            <div (click)="onScrollToTop()" class="scroll-to-top-container hidden-print"><span></span></div>
        </div>
    </ng-container>
</ng-template>

<ng-template #statisticBoardContainer>
    <ng-container *ngIf="statistics && objectKeys(statistics).length > 0">
        <div class="container content-container sectionpage-statisticBoard-container">
            <ng-container *ngTemplateOutlet="statisticBoard"></ng-container>
            <div (click)="onScrollToTop()" class="scroll-to-top-container hidden-print"><span></span></div>
        </div>
    </ng-container>
</ng-template>

<ng-template #adminAreaContainer>
    <ng-container *ngIf="flgShowAdminArea">
        <div class="container content-container sectionpage-dashBoard-container">
            <ng-container *ngTemplateOutlet="adminArea"></ng-container>
            <div (click)="onScrollToTop()" class="scroll-to-top-container hidden-print"><span></span></div>
        </div>
    </ng-container>
</ng-template>
