<ng-container *ngIf="record != undefined && record.id != undefined">
    <div class="container content-container">
        <div class="card-block">
            <app-pdoc-list-item-flat [record]="record" (show)="submitBackToShow()"></app-pdoc-list-item-flat>
        </div>
        <br clear="all" />
        <div class="card-footer text-right" style="width: 100%">
            <div class="card-action-buttons align-bottom btn-group" role="group" aria-label="Actions">
                <app-pdoc-action [record]="record"
                                 [type]="'actionTagsBig'"
                                 (actionTagEvent)="onActionTagEvent($event)"></app-pdoc-action>
                <a [href]="getBackToShowUrl()" (click)="submitBackToShow()" class="btn btn-action btn-sm"
                   i18n="link back2show pdoc|Linktext back to show pdoc@@a.edit.pdoc.back2show">Back to Show</a>
                <a [href]="getBackToSearchUrl()" (click)="submitBackToSearch()" class="btn btn-action btn-sm"
                   i18n="link back2search pdoc|Linktext back to search pdoc@@a.edit.pdoc.back2search">Back to Search</a>
            </div>
        </div>
    </div>

    <div class="container content-container">
        <div class="container">
            <app-pdoc-editform [record]="record"
                               [backToSearch]="'true'"
                               (save)="submitSave($event, false)"
                               (saveAndSearch)="submitSave($event, true)"></app-pdoc-editform>
        </div>
    </div>

    <div class="container content-container">
        <ng-container [ngSwitch]="record.type">

            <ng-container *ngSwitchCase="'PAGE'">
                <!-- TODO show subpages -->
            </ng-container>
        </ng-container>
    </div>
</ng-container>
