<form [formGroup]="searchFormGroup" (ngSubmit)="onSubmitSearch($event)" class="form-control-sm">
    <div class="row visible-print-block">
        <div class="col-sm-12">
            Filter: <div [innerHTML]="humanReadableSearchForm" class="humanReadableSearchFilter"></div>
        </div>
    </div>

    <ng-template #noFilterValues><span class="col-form-label fullwidth">nichts zu filtern :-(</span></ng-template>

    <!-- infos -->
    <ng-container>
        <div class="row hidden-print">
            <div class="col-sm-12">
                Filter: <div [innerHTML]="humanReadableSearchForm" class="humanReadableSearchFilter" (click)="updateFormState(true);"></div>
                <ng-container *ngIf="!short">
                    <button *ngIf="!showMeta && showMetaAvailable" class="btn btn-configure btn-sm float-right" (click)="showMeta = true; updateFormState();">
                        <span i18n="button show MetaDataform|Buttontext to show Metadataform@@button.searchform.show.Metadataform">"Metadaten" filtern</span>
                        <span>&#x21D3;</span></button>
                    <button *ngIf="!showDetails && showDetailsAvailable" class="btn btn-configure btn-sm float-right" (click)="showDetails = true; updateFormState();">
                        <span i18n="button show Detailsform|Buttontext to show Detailsform@@button.searchform.show.Detailsform">"Details" filtern</span>
                        <span>&#x21D3;</span></button>
                    <button *ngIf="!showFulltext" class="btn btn-configure btn-sm float-right" (click)="showFulltext = true; updateFormState();">
                        <span i18n="button show Fulltextform|Buttontext to show Fulltextform@@button.searchform.show.Fulltextform">"Text" filtern</span>
                        <span>&#x21D3;</span></button>
                    <button *ngIf="!showWhat" class="btn btn-configure btn-sm float-right" (click)="showWhat = true; updateFormState();">
                        <span i18n="button show Whatform|Buttontext to show Whatform@@button.searchform.show.Whatform">"Was" filtern</span>
                        <span>&#x21D3;</span></button>
                    <button *ngIf="!showWhen && showWhereAvailable" class="btn btn-configure btn-sm float-right" (click)="showWhen = true; updateFormState();">
                        <span i18n="button show Whenform|Buttontext to show Whatform@@button.searchform.show.Whenform">"Zeit" ändern</span>
                        <span>&#x21D3;</span></button>
                    <button *ngIf="!showWhere && showWhereAvailable" class="btn btn-configure btn-sm float-right" (click)="showWhere = true; updateFormState();">
                        <span i18n="button show Whereform|Buttontext to show Whereform@@button.searchform.show.Whereform">"Ort" filtern</span>
                        <span>&#x21D3;</span></button>
                    <button *ngIf="humanReadableSpecialFilter !== '' && !showSpecialFilter" class="btn btn-configure btn-sm float-right" (click)="showSpecialFilter = true; updateFormState();">
                        <span i18n="button show Moreform|Buttontext to show Moreform@@button.searchform.show.Moreform">"Spezialfilter"</span>
                        <span>&#x21D3;</span></button>
                </ng-container>
                <button *ngIf="!showForm" class="btn btn-action btn-sm float-right" (click)="updateFormState(true);">
                    <span i18n="button show form|Buttontext to show form@@button.searchform.show.form">Filter ändern</span>
                    <span class="btn-action-icon">&#x21D3;</span></button>
                <button *ngIf="!short && showForm" class="btn btn-action btn-sm float-right" (click)="updateFormState(false);">
                    <span i18n="button hide form|Buttontext to hide form@@button.searchform.hide.form">Filter ausblenden</span>
                    <span class="btn-action-icon">&#x21D1;</span></button>
            </div>
        </div>
    </ng-container>


    <!-- short searchform-->
    <ng-container *ngIf="short && showForm">
        <div class="row hidden-print">
            <div [class]="('col-sm-12 form-inline input-group input-group-sm')">
                <label [class]="'col-xs-4 col-form-label mr-2 ' + (searchFormGroup.get('fulltext').value.length > 0 ? 'label-active' : 'label-inactive')" i18n="fulltext label|Label for filter: fulltext@@label.searchform.cdoc.fulltext">Fulltext:</label>
                <input formControlName="fulltext" type="text" placeholder="Suchtext" class="form-control"
                       (keydown.enter)="onSubmitSearch($event)"
                       i18n-placeholder="fulltext placeholder|Placeholder for fulltext@@placeholder.searchform.cdoc.fulltext">
            </div>
        </div>
    </ng-container>

    <!-- extended searchform-->
    <ng-container *ngIf="!short && showForm">
        <fieldset class="hidden-print" *ngIf="showWhat">
            <legend i18n="what label|Label for fieldset: what@@label.searchform.cdoc.legend.what">&#x26bd; Was</legend>
            <div class="row">
                <div [class]="(width8 + ' input-group input-group-sm')">
                    <label [class]="'col-xs-2 col-form-label mr-2 ' + (searchFormGroup.get('type').value.length > 0 ? 'label-active' : 'label-inactive')" i18n="type label|Label for filter: type@@label.searchform.cdoc.type">Types:</label>
                    <ss-multiselect-dropdown [options]="optionsSelectType"
                                             [settings]="settingsSelectType"
                                             [texts]="textsSelectType"
                                             formControlName="type"
                                             ngDefaultControl
                                             class="fullwidth"
                                             (onAdded)="onChangeSelect()"
                                             (onRemoved)="onChangeSelect()"></ss-multiselect-dropdown>
                </div>
                <div [class]="(width4 + ' input-group input-group-sm justify-content-end')">
                    <button class="btn btn-configure btn-sm" (click)="showWhat = false; updateFormState();">
                        <span i18n="button hide Whatform|Buttontext to hide Whatform@@button.searchform.hide.Whatform">ausblenden</span>
                        <span>&#x21D1;</span></button>
                </div>
            </div>
        </fieldset>
        <fieldset class="hidden-print" *ngIf="showFulltext">
            <legend i18n="fulltext label|Label for fieldset: fulltext@@label.searchform.cdoc.legend.fulltext">&#x2328; Volltextsuche</legend>
            <div class="row">
                <div [class]="(width8 + ' form-inline input-group input-group-sm')">
                    <label [class]="'col-xs-4 col-form-label mr-2 ' + (searchFormGroup.get('fulltext').value.length > 0 ? 'label-active' : 'label-inactive')" i18n="fulltext label|Label for filter: fulltext@@label.searchform.cdoc.fulltext">Fulltext:</label>
                    <input formControlName="fulltext" type="text" placeholder="Suchtext" class="form-control"
                           (keydown.enter)="onSubmitSearch($event)"
                           i18n-placeholder="fulltext placeholder|Placeholder for fulltext@@placeholder.searchform.cdoc.fulltext">
                </div>
                <div [class]="(width4 + ' input-group input-group-sm justify-content-end')">
                    <button class="btn btn-action btn-sm" type="submit" (click)="onSubmitSearch($event)" i18n="button search cdoc|Buttontext to search cdoc@@button.searchform.cdoc.search">Search</button>
                    <button class="btn btn-configure btn-sm" (click)="showFulltext = false; updateFormState();">
                        <span i18n="button hide Fulltextform|Buttontext to hide Fulltextform@@button.searchform.hide.Fulltextform">ausblenden</span>
                        <span>&#x21D1;</span></button>
                </div>
            </div>
        </fieldset>
        <fieldset class="hidden-print" *ngIf="showMeta && showMetaAvailable">
            <legend i18n="meta label|Label for fieldset: meta@@label.searchform.cdoc.legend.meta">&#x2764; Bewertung</legend>
            <div class="row">
                <div [class]="(width4 + ' input-group input-group-sm')" *ngIf="optionsSelectPlaylists.length > 0">
                   <label [class]="'col-xs-2 col-form-label mr-2 ' + (searchFormGroup.get('playlists').value.length > 0 ? 'label-active' : 'label-inactive')" i18n="playlists label|Label for filter: playlists@@label.searchform.cdoc.playlists">Playlist:</label>
                    <ng-container *ngIf="optionsSelectPlaylists.length > 0; else noFilterValues">
                        <ss-multiselect-dropdown [options]="optionsSelectPlaylists"
                                                 [settings]="settingsSelectPlaylists"
                                                 [texts]="textsSelectPlaylists"
                                                 formControlName="playlists"
                                                 ngDefaultControl
                                                 class="fullwidth"
                                                 (onAdded)="onChangeSelect()"
                                                 (onRemoved)="onChangeSelect()"></ss-multiselect-dropdown>
                    </ng-container>
                </div>
                <div [class]="(width4 + ' input-group input-group-sm justify-content-end')">
                    <button class="btn btn-configure btn-sm" (click)="showMeta = false; updateFormState();">
                        <span i18n="button hide Metasform|Buttontext to hide Netaform@@button.searchform.hide.Metaform">ausblenden</span>
                        <span>&#x21D1;</span></button>
                </div>
            </div>
        </fieldset>
        <fieldset class="hidden-print" *ngIf="showDetails && showDetailsAvailable">
            <legend i18n="details label|Label for fieldset: details@@label.searchform.cdoc.legend.details">&#x231b; Details</legend>
            <div class="row">
                <div [class]="(width4 + ' input-group input-group-sm')">
                   <label [class]="'col-xs-4 col-form-label mr-2 ' + (searchFormGroup.get('what').value.length > 0 ? 'label-active' : 'label-inactive')" i18n="what label|Label for filter: what@@label.searchform.cdoc.what">What:</label>
                    <ng-container *ngIf="optionsSelectWhat.length > 0; else noFilterValues">
                        <ss-multiselect-dropdown [options]="optionsSelectWhat"
                                                 [settings]="settingsSelectWhat"
                                                 [texts]="textsSelectWhat"
                                                 formControlName="what"
                                                 ngDefaultControl
                                                 class="fullwidth"
                                                 (onAdded)="onChangeSelect()"
                                                 (onRemoved)="onChangeSelect()"></ss-multiselect-dropdown>
                    </ng-container>
                </div>
                <div [class]="(width4 + ' input-group input-group-sm justify-content-end')">
                    <button class="btn btn-configure btn-sm" (click)="showDetails = false; updateFormState();">
                        <span i18n="button hide Detailsform|Buttontext to hide Detailsform@@button.searchform.hide.Detailsform">ausblenden</span>
                        <span>&#x21D1;</span></button>
                </div>
            </div>
        </fieldset>
        <fieldset class="hidden-print" *ngIf="showSpecialFilter && humanReadableSpecialFilter !== ''">
            <div class="row">
                <div [class]="(width8 + ' form-inline input-group input-group-sm')">
                    {{ humanReadableSpecialFilter }}
                    <button class="btn btn-configure btn-sm" (click)="removeMoreIdFilters()" i18n="button remove MoreIdFilters|Buttontext to remove MoreIdFilters@@button.searchform.remove.MoreIdFilters">entfernen</button>
                </div>
                <div [class]="(width4 + ' input-group input-group-sm justify-content-end')">
                    <button class="btn btn-configure btn-sm" (click)="showSpecialFilter = false; updateFormState();">
                        <span i18n="button hide Moreform|Buttontext to hide Moreform@@button.searchform.hide.Moreform">ausblenden</span>
                        <span>&#x21D1;</span></button>
                </div>
            </div>
        </fieldset>
    </ng-container>
</form>
