<nav class="navbar navbar-toggleable-sm navbar-light bg-faded mdl-navigation">
    <button type="button" class="navbar-toggler navbar-toggler-right" (click)="isExpanded = !isExpanded" [attr.aria-expanded]="!isExpanded" aria-controls="navbarContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mdl-navigation__link" routerLink="/" routerLinkActive="active">
        <img src="/assets/images/banner.png" width="30" class="d-inline-block picture-thumbnail align-top">
        MyTourBook
    </a>

    <div class="navbar-collapse collapse" id="navbarContent" [ngbCollapse]="!isExpanded">
        <ul class="nav navbar-nav" role="menu">
            <li class="nav-item">
                <a class="nav-link mdl-navigation__link" routerLink="/pages/start" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mdl-navigation__link" routerLink="/sdoc/search/" routerLinkActive="active">Suche</a>
            </li>

            <ng-container *ngIf="sections !== undefined && sections.length > 0">
                <li class="nav-item">
                    <a class="nav-link mdl-navigation__link" routerLink="/sections/sections" routerLinkActive="active">Themen</a>
                </li>
                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdownMenuLinkThemen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

                    <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLinkThemen" role="menu">
                        <ng-container *ngFor="let section of sections">
                            <ng-container [ngSwitch]="section.type">
                                <ng-container *ngSwitchCase="'SectionOverviewPage'">
                                    <div class="dropdown-divider"></div>
                                    <li class="dropdown-item {{section.type}}"><a class="nav-link mdl-navigation__link" title="{{section.teaser}}" routerLink="/sections/{{section.id}}/" routerLinkActive="active">{{section.name}}</a>
                                        <ul>
                                            <ng-container *ngFor="let subSection of getSubSections(section)">
                                                <li class="dropdown-item"><a class="nav-link mdl-navigation__link" title="{{subSection.teaser}}" routerLink="/sections/{{subSection.id}}/" routerLinkActive="active">{{subSection.name}}</a></li>
                                            </ng-container>
                                        </ul>
                                    </li>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <li class="dropdown-item {{section.type}}"><a class="nav-link mdl-navigation__link" title="{{section.teaser}}" routerLink="/sections/{{section.id}}/" routerLinkActive="active">{{section.name}}</a></li>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ul>
                </li>
            </ng-container>

            <li class="nav-item">
                <a class="nav-link mdl-navigation__link">Settings</a>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdownMenuLinkSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLinkSettings" role="menu">
                    <li class="dropdown-item"><div class="navbar-right"><app-browser-onoffline></app-browser-onoffline></div></li>
                    <div class="dropdown-divider"></div>
                    <li class="dropdown-item"><app-switch-onoffline></app-switch-onoffline></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
