<nav class="navbar navbar-toggleable-sm navbar-light bg-faded mdl-navigation hide-on-fullpage">
    <button type="button" class="navbar-toggler navbar-toggler-right hidden-print" (click)="isExpanded = !isExpanded" [attr.aria-expanded]="!isExpanded" aria-controls="navbarContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mdl-navigation__link" routerLink="/pages/start" routerLinkActive="active">
        <img src="assets/images/banner.jpg" width="30" class="d-inline-block picture-thumbnail align-top">
        <span>{{ 'nav.brand.appName' | translate }}</span>
    </a>

    <div class="navbar-collapse collapse hidden-print" id="navbarContent" [ngbCollapse]="!isExpanded">
        <ul class="nav navbar-nav" role="menu">
            <li class="nav-item">
                <a class="nav-link mdl-navigation__link" routerLink="/sections/start/search" routerLinkActive="active" i18n="link search navBar|Link search navBar@@a.navBar.search">Suche</a>
            </li>

            <ng-container *ngIf="sections !== undefined && sections.length > 0">
                <ng-container *ngFor="let menuSection of sections">
                    <li class="nav-item">
                        <a class="nav-link mdl-navigation__link" routerLink="/sections/{{menuSection.id}}" routerLinkActive="active">{{menuSection.name}}</a>
                    </li>
                    <li class="nav-item dropdown" ngbDropdown>
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdownMenuLink{{menuSection.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

                        <ul class="dropdown-menu dropdown-menu-left" role="menu">
                            <ng-container *ngFor="let section of getSubSections(menuSection)">
                                <ng-container [ngSwitch]="section.type">
                                    <ng-container *ngSwitchCase="'SectionOverviewPage'">
                                        <div class="dropdown-divider"></div>
                                        <li class="dropdown-item {{section.type}}"><a class="nav-link mdl-navigation__link" title="{{section.teaser}}" routerLink="/sections/{{section.id}}/" routerLinkActive="active">{{section.name}}</a>
                                            <ul>
                                                <ng-container *ngFor="let subSection of getSubSections(section)">
                                                    <li class="dropdown-item"><a class="nav-link mdl-navigation__link" title="{{subSection.teaser}}" routerLink="/sections/{{subSection.id}}/" routerLinkActive="active">{{subSection.name}}</a></li>
                                                </ng-container>
                                            </ul>
                                        </li>
                                    </ng-container>
                                    <ng-container *ngSwitchDefault>
                                        <li class="dropdown-item {{section.type}}"><a class="nav-link mdl-navigation__link" title="{{section.teaser}}" routerLink="/sections/{{section.id}}/" routerLinkActive="active">{{section.name}}</a></li>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ng-container>

            <li class="nav-item">
                <a class="nav-link mdl-navigation__link">Settings</a>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdownMenuLinkSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLinkSettings" role="menu">
                    <li class="dropdown-item"><div class="navbar-right"><app-browser-onoffline></app-browser-onoffline></div></li>
                    <div class="dropdown-divider"></div>
                    <!--
                    <li class="dropdown-item"><app-switch-onoffline></app-switch-onoffline></li>
                    -->
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link mdl-navigation__link" routerLink="/pages/impress" routerLinkActive="active" i18n="link impress navBar|Link impress navBar@@a.navBar.impress">Impressum/Datenschutz</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar-fullpage show-on-fullpage-block">
    <button type="button" class="" (click)="doEndFullPage()">
        <span>&#x25A3;</span>
    </button>
</nav>