<ng-container *ngIf="pdoc !== undefined">
    <div [formGroup]="themeFormGroup" class="container content-container hide-on-fullpage fx-bg-theme" *ngIf="pdoc.heading !== undefined && pdoc.heading.length > 0">
        <h5><span class="fx-bg-name">{{pdoc.heading}}</span>
            <div>
                <div style="width: 200px;" class="float-right form-inline input-group input-group-sm hidden-print">
                    <select class="form-control input-sm" name="theme" id="theme" formControlName="theme" (change)="onThemeChange()">
                        <ng-container *ngFor="let mainSection of sections">
                            <optgroup  label="{{mainSection.name}}">
                                <ng-container *ngFor="let section of getSubSections(mainSection)">
                                    <ng-container [ngSwitch]="section.type">
                                        <ng-container *ngSwitchCase="'SectionOverviewPage'">
                                            <option [value]="section.id" style="font-weight: bold">{{ section.name }}</option>
                                            <ng-container *ngFor="let subSection of getSubSections(section)">
                                                <option [value]="subSection.id">- {{ subSection.name }}</option>
                                            </ng-container>
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                            <option [value]="section.id">{{ section.name }}</option>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </optgroup>
                        </ng-container>
                    </select>
                </div>
            </div>
        </h5>
        <div class="fx-bg-teaser-text">{{pdoc.teaser}}</div>
    </div>
</ng-container>
