div.techvaluetable {
    font-size: 0.75rem;
    border: 1px solid #bfccd3;
    vertical-align: top;
}
div.label, div.value {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: normal;
    white-space: pre;
}
