div.typetable-column {
    width: 8.33%;
    border: 1px solid black;
}
div.typetable-column:hover {
    background-color: lightblue !important;
    font-weight: 500;
}
div.typetable-column-active {
    background-color: lightgreen;
    font-weight: 500;
}

div.typetable-column-header, div.typetable-column-value {
    text-align: center;
    font-size: 0.75em;
    width: 100%;
}
div.typetable-column-header {
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
}
div.typetable-column-value {
    clear: both;
}

.row {
    background-color: #F9F9F9;
    padding: 5px;
}
