.pdoc-list-item-flat {
    clear: both;
    padding-bottom: 10px;
    width: 100%
}

.teaser {
}

.no-image {
    float: left;
    margin: 0 15px 15px 0;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 170px;
    font-family: Georgia, serif;
    background: lightgray;
    font-size: large;
    text-overflow: fade;
}
