<section class="sdoc-app">
    <div class="container">
        <header class="header">
            <h1>{{title}}</h1>
        </header>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded mdl-navigation">
            <a class="navbar-brand mdl-navigation__link" [routerLink]="['/']">Home</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link mdl-navigation__link" [routerLink]="['/sdoc/list']">SDocs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mdl-navigation__link" [routerLink]="['/sdoc/create']">New SDoc</a>
                </li>
            </ul>
        </nav>

        <router-outlet></router-outlet>
    </div>
</section>
