/* You can add global styles to this file, and also import other style files */
button.buttonselect {
    width: 100%;
}

.btn-navigation {
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center , #fcf1b5 31%, #fefcea 87%) repeat scroll 0 0;
    color: #0645ad;
    border: 2px solid #8cacd3;
    border-radius: 4px;
    font-weight: bold;
    margin: 2px;
    padding: 6px;
    text-align: center;
}

.btn-action {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #8cacd3 0%, #2989d8 50%, #468ec9 51%, #7db9e8 100%) repeat scroll 0 0;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    text-align: center;
}

#markdown table {
    width: 100%;
}


.fullwidth {
    width: 100%;
}

img.picture-thumbnail {
    border-radius: 5px;
}
img.picture, img.picture-thumbnail-big, img.picture-small, img.picture-big  {
    border-radius: 10px;
}

img.picture-small, img.picture-big {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.leaflet-container {
    border-radius: 10px;
}

div.content-container {
    border: 2px solid #8CACD3;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    margin: 10px;
}

div.inline-content-container {
    border: 2px solid #bfccd3;
    border-radius: 5px;
    background-color: white;
}

body {
    background: url(http://www.michas-ausflugstipps.de/images/bg-berge3.jpg);
    background-repeat: repeat-x;
    background-color: #BDBDAD;
    background-attachment: fixed;
}

div.leaflet-div-icon-end, div.leaflet-div-icon-start, div.leaflet-div-icon-point {
    border: 2px solid #8CACD3;
    border-radius: 2px;
    padding: 2px !IMPORTANT;
    background-color: white;
    margin: 2px !IMPORTANT;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 25px !IMPORTANT;
    white-space: nowrap;
    width: 100px !IMPORTANT;
}

.show-on-fullpage-block {
    display: none;
}


div.relative-container {
    position: relative;
}


.lightbox {
    position: fixed;
}

.geocode-autocomplete {
    top: 40px;
    z-index: 1000;   /** analogue $zindex-dropdown=1000 **/
}

.list-item-persrate-0 {
}
.list-item-persrate-1 {
}
.list-item-persrate-2 {
}
.list-item-persrate-3 {
}
.list-item-persrate-4 {
    border: 3px solid gold !IMPORTANT;
    border-color: gold !IMPORTANT;
}
.list-item-persrate-5 {
    border: 3px solid gold;
    border-color: gold !IMPORTANT;
    background: gold;
}


div.techvaluetable {
    display: inline-grid;
    border: 1px solid #bfccd3;
}
div.techvaluetable .entry {
    font-size: 0.75rem;
}
div.techvaluetable .entry .label {
    min-width: 75px;
    display: inline-grid;
    font-weight: bold;
    white-space: nowrap;
}
div.techvaluetable .entry .value {
    display: inline-grid;
    min-width: 50px;
}

div#LOCATIONIMAGE div.card-block-image div.techvaluetable,
div#NEWSIMAGE div.card-block-image div.techvaluetable,
div#ROUTEIMAGE div.card-block-image div.techvaluetable,
div#TRACKIMAGE div.card-block-image div.techvaluetable,
div#TRIPIMAGE div.card-block-image div.techvaluetable {
    display: none !IMPORTANT;
}


div#LOCATIONIMAGE div.card-block-image h5.record-type,
div#NEWSIMAGE div.card-block-image h5.record-type,
div#ROUTEIMAGE div.card-block-image h5.record-type,
div#TRACKIMAGE div.card-block-image h5.record-type,
div#TRIPIMAGE div.card-block-image h5.record-type {
    display: none !IMPORTANT;
}

div#TRACKIMAGE div.card-block-image h5 {
    display: none !IMPORTANT;
}