/* You can add global styles to this file, and also import other style files */
button.buttonselect {
    width: 100%;
}

.fullwidth {
    width: 100%;
}

img.picture-thumbnail {
    border-radius: 5px;
}
img.picture, img.picture-thumbnail-big, img.picture-small, img.picture-big  {
    border-radius: 10px;
}

img.picture-small, img.picture-big {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.leaflet-container {
    border-radius: 10px;
}

div.content-container {
    border: 2px solid #8CACD3;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    margin: 10px;
}

div.inline-content-container {
    border: 2px solid #bfccd3;
    border-radius: 5px;
    background-color: white;
}

body {
    background: url(http://localhost/michas/images/bg-berge3.jpg);
    background-repeat: repeat-x;
    background-color: #BDBDAD;
    background-attachment: fixed;
}

div.leaflet-div-icon-end, div.leaflet-div-icon-start, div.leaflet-div-icon-point {
    border: 2px solid #8CACD3;
    border-radius: 2px;
    padding: 2px !IMPORTANT;
    background-color: white;
    margin: 2px !IMPORTANT;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 25px !IMPORTANT;
    white-space: nowrap;
    width: 100px !IMPORTANT;
}

.show-on-fullpage-block {
    display: none;
}


div.relative-container {
    position: relative;
}


.lightbox {
    position: fixed;
}

.geocode-autocomplete {
    z-index: 1000;
}

.list-item-persrate-0 {
}
.list-item-persrate-1 {
}
.list-item-persrate-2 {
}
.list-item-persrate-3 {
}
.list-item-persrate-4 {
    border: 3px solid gold !IMPORTANT;
}
.list-item-persrate-5 {
    border: 3px solid gold;
    background: gold;
}
