/* You can add global styles to this file, and also import other style files */
button.buttonselect {
    width: 100%;
}

.btn-navigation {
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center , #fcf1b5 31%, #fefcea 87%) repeat scroll 0 0;
    color: #0645ad;
    border: 2px solid #8cacd3;
    border-radius: 4px;
    font-weight: bold;
    margin: 2px;
    padding: 6px;
    text-align: center;
}

.btn-action {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #8cacd3 0%, #2989d8 50%, #468ec9 51%, #7db9e8 100%) repeat scroll 0 0;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    text-align: center;
}

.btn-configure {
    text-align: center;
}

.btn-action-icon {
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #8cacd3 0%, #2989d8 50%, #468ec9 51%, #7db9e8 100%) repeat scroll 0 0;
    font-weight: normal;
    border: 0;
    text-align: center;
}

fieldset {
    border: 1px solid silver;
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
}
legend {
    display: block;
    width: auto;
    font-size: .875rem;
    margin-bottom: 0;
}


#markdown table {
    width: 100%;
}


.fullwidth {
    width: 100%;
}

img.picture-thumbnail {
    border-radius: 5px;
}
img.picture, img.picture-thumbnail-big, img.picture-small, img.picture-big  {
    border-radius: 10px;
}

img.picture-small, img.picture-big {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.leaflet-container {
    border-radius: 10px;
}

div.content-container {
    border: 2px solid #8CACD3;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    margin: 10px;
}

div.inline-content-container {
    border: 2px solid #bfccd3;
    border-radius: 5px;
    background-color: white;
}

.container-fullline {
    width: 100%
}

.container-browser-not-compatible {
    background-color: #F89406 !important;
}

body {
    background: url(assets/images/background.jpg);
    background-repeat: repeat-x;
    background-color: #BDBDAD;
    background-attachment: fixed;
}

div.leaflet-div-icon-end, div.leaflet-div-icon-start, div.leaflet-div-icon-point {
    border: 2px solid #8CACD3;
    border-radius: 2px;
    padding: 2px !IMPORTANT;
    background-color: white;
    margin: 2px !IMPORTANT;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 25px !IMPORTANT;
    white-space: nowrap;
    width: 100px !IMPORTANT;
}

.show-on-fullpage-block {
    display: none;
}

.fullpage-background {
    display: none;
    background: #130b0b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.relative-container {
    position: relative;
}


.card-deck .card:not(:first-child) {
    margin-left: 3px;
}
.card-deck .card:not(:last-child) {
    margin-right: 3px;
}
.card-deck .card {
    margin-left: 3px;
    margin-right: 3px;
}
ngb-accordion div.card div.card-header {
    padding: 2px;
}


/**
.lightbox {
    position: fixed;
}
**/

.geocode-autocomplete {
    top: 40px;
    z-index: 1000;   /** analogue $zindex-dropdown=1000 **/
}

.list-item-persrate-0 {
}
.list-item-persrate-1 {
}
.list-item-persrate-2 {
}
.list-item-persrate-3 {
}
.list-item-persrate-4 {
    border: 3px solid gold !IMPORTANT;
    border-color: gold !IMPORTANT;
}
.list-item-persrate-5 {
    border: 3px solid gold;
    border-color: gold !IMPORTANT;
    background: gold;
}

div#LOCATIONIMAGE div.card-block-image div.techvaluetable,
div#NEWSIMAGE div.card-block-image div.techvaluetable,
div#ROUTEIMAGE div.card-block-image div.techvaluetable,
div#TRACKIMAGE div.card-block-image div.techvaluetable,
div#TRIPIMAGE div.card-block-image div.techvaluetable {
    display: none !IMPORTANT;
}


div#LOCATIONIMAGE div.card-block-image h5.record-type,
div#NEWSIMAGE div.card-block-image h5.record-type,
div#ROUTEIMAGE div.card-block-image h5.record-type,
div#TRACKIMAGE div.card-block-image h5.record-type,
div#TRIPIMAGE div.card-block-image h5.record-type {
    display: none !IMPORTANT;
}

div#TRACKIMAGE div.card-block-image h5 {
    display: none !IMPORTANT;
}

div.humanReadableSearchFilter div.filter {
    display: inline;
}



.fx-bg-theme {
    background: #F3F7FB;
    background: -moz-linear-gradient(right, #ffffff 0%, #dee9ef 100%);
    background: -webkit-gradient(linear, right top, left top, color-stop(0%, #ffffff), color-stop(100%, #dee9ef) );
    background: -webkit-linear-gradient(right, #ffffff 0%, #dee9ef 100%);
    background: -o-linear-gradient(right, #ffffff 0%, #dee9ef 100%);
    background: -ms-linear-gradient(right, #ffffff 0%, #dee9ef 100%);
    background: linear-gradient(to left, #ffffff 0%, #dee9ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee9ef', endColorstr='#ffffff', GradientType=1 );
}
.fx-bg-type {
    background: #fcf1b5;
    background: -moz-linear-gradient(left, #fcf1b5 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fcf1b5), color-stop(100%, #ffffff) );
    background: -webkit-linear-gradient(left, #fcf1b5 0%, #ffffff 100%);
    background: -o-linear-gradient(left, #fcf1b5 0%, #ffffff 100%);
    background: -ms-linear-gradient(left, #fcf1b5 0%, #ffffff 100%);
    background: linear-gradient(to right, #fcf1b5 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf1b5', endColorstr='#ffffff', GradientType=1 );
}
.fx-bg-name {
    background: #F3F7FB;
    background: -moz-linear-gradient(left, #ffffff 0%, #dee9ef 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, #dee9ef) );
    background: -webkit-linear-gradient(left, #ffffff 0%, #dee9ef 100%);
    background: -o-linear-gradient(left, #ffffff 0%, #dee9ef 100%);
    background: -ms-linear-gradient(left, #ffffff 0%, #dee9ef 100%);
    background: linear-gradient(to right, #ffffff 0%, #dee9ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dee9ef', GradientType=1 );
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: transparent;
}
.nav-tabs .nav-link {
    border-color: #ddd #ddd #fff;
    background: #fcf1b5;
    background: -moz-linear-gradient(top, #fcf1b5 0%, #fefcea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcf1b5), color-stop(100%, #fefcea) );
    background: -webkit-linear-gradient(top, #fcf1b5 0%, #fefcea 100%);
    background: -o-linear-gradient(top, #fcf1b5 0%, #fefcea 100%);
    background: -ms-linear-gradient(top, #fcf1b5 0%, #fefcea 100%);
    background: linear-gradient(to bottom, #fcf1b5 0%, #fefcea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf1b5', endColorstr='#fefcea', GradientType=0 );
}


/** override IE-styles**/
@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}
/** override Edge-styles**/
@supports (-ms-ime-align: auto) {
}

input::placeholder, input::-webkit-input-placeholder, input:-ms-input-placeholder, input:placeholder-shown, input:-moz-placeholder {
    color: #e8e8e8 !important;
}

.list-header-container ul.pagination-sm, .footer ul.pagination-sm {
    margin-bottom: 5px;
}
.navigation-content-container ul.pagination-sm {
    margin: 0;
}