@media print {
    app-tdoc-list-item, .app-tdoc-list-item, .tdoc-list-item-flat, .tdoc-list-item-thin {
        page-break-before: auto;
        page-break-after: auto;
        page-break-inside: avoid;
    }
    img {
        page-break-before: auto;
        page-break-after: auto;
        page-break-inside: avoid;
    }

    .searchpage-stacked-sidebar-container {
        display: none;
    }

    .searchpage-stacked-right-content-container {
        page-break-before: avoid;
        page-break-inside: auto;
        display: block !important;
    }

    .content-container, .container {
        page-break-before: avoid;
        page-break-after: avoid;
        page-break-inside: auto;
    }

    /*******************
     * value-tables
     *******************/
    td.entry, td.value {
        overflow: unset !important;
        text-overflow: unset !important;
        overflow-wrap: unset !important;
        white-space: unset !important;
    }
}

@media screen {
}
