a {
    color: black;
}

app-tdoc-list-item, .app-tdoc-list-item, .tdoc-list-item-flat, .tdoc-list-item-thin {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
}

img {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
}

.content-container, .container {
    page-break-before: avoid;
    page-break-after: avoid;
    page-break-inside: auto;
}

.map-container {
    page-break-inside: avoid!important;
}

.topimage-container {
    page-break-inside: avoid!important;
}

/** hide profilecharts because not printable**/
.map-container-profilemap, .map-container-profilechart {
    display: none !important;
}

/** hide locations named OFFEN **/
a[href*="show\/offen\/LOCATION_"] {
    display: none;
}
/*******************
 * value-tables
 *******************/
td.entry, td.value {
    overflow: unset !important;
    text-overflow: unset !important;
    overflow-wrap: unset !important;
    white-space: unset !important;
}

.fx-bg-theme, .fx-bg-theme-print {
    background: #F3F7FB !important;
    background-color: #F3F7FB !important;
}
.fx-bg-type, .fx-bg-type-print {
    background: #fcf1b5 !important;
    background-color: #fcf1b5 !important;
}
.fx-bg-name, .fx-bg-name-print {
    background: #F3F7FB !important;
    background-color: #F3F7FB !important;
}

.card-footer, .card-footer-print {
    background: #F3F7FB !important;
    background-color: #F3F7FB !important;
}

.card-action-buttons, .btn-navigation, .btn-action, .btn-action-icon {
    display: none !important;
}
