@media print {
    body {
        background: white;
    }

    .container {
        width: 100%;
    }

    .btn, .btn-primary {
        display: none !IMPORTANT;
    }

    div.navbar-collapse, #navbarContent {
        display: none !IMPORTANT;
    }

    ul.pagination {
        display: none !IMPORTANT;
    }

    div.tagContainer {
        display: none !IMPORTANT;
    }

    .card-header {
        display: none !IMPORTANT;
    }

    .hidden-print {
        display: none !IMPORTANT;
    }

    div.layout-big {
        display: block;
    }
    div.layout-small {
        display: block;
    }
    div.layout-verysmall {
        display: block;
    }

    .leaflet-map-container, .map-container {
        page-break-before: auto;
        page-break-after: auto;
        page-break-inside: avoid;
    }

    app-tdoc-list-item, .app-tdoc-list-item, .tdoc-list-item-flat, .tdoc-list-item-thin {
        page-break-before: auto;
        page-break-after: auto;
        page-break-inside: avoid;
    }
    img {
        page-break-before: auto;
        page-break-after: auto;
        page-break-inside: avoid;
    }

    .app-tdoc-list-item-big {
        width: 275px !important;
        min-width: 260px !important;
        max-width: 290px !important;
    }
}
@media screen {
}
