/*******************
 * app-specific
 *******************/
@media(max-width: 430px) {
    .app-tdoc-list-item-big {
        min-width: 200px !important;
        max-width: 270px !important;
    }

}
@media (min-width: 1200px) {
    .map-container {
        width: 46%;
        display: inline-table;
    }
}

@media(min-width: 800px) {
    .edit-map-container {
        width: 46%;
        display: inline-table;
    }
}
