/* You can add global styles to this file, and also import other style files */
button.buttonselect {
    width: 100%;
}

.fullwidth {
    width: 100%;
}

img.picture-thumbnail {
    border-radius: 5px;
}
img.picture, img.picture-thumbnail-big, img.picture-small, img.picture-big  {
    border-radius: 10px;
}

img.picture-small, img.picture-big {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 600px) {
    img.picture-big {
        width: 500px;
    }
}
@media(max-width: 400px) {
    img.picture-big {
        width: 350px;
    }
}
@media(max-width: 450px) {
    img.picture-big {
        width: 350px;
    }
}
@media(max-width: 360px) {
    img.picture-big {
        width: 250px;
    }
}

@media(max-width: 320px) {
    img.picture-big {
        width: 200px;
    }
}

div.leaflet-container {
    border-radius: 10px;
}

div.content-container {
    border: 2px solid #8CACD3;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    margin: 10px;
}

div.inline-content-container {
    border: 2px solid #bfccd3;
    border-radius: 5px;
    background-color: white;
}

body {
    background: url(http://localhost/michas/images/bg-berge3.jpg);
    background-repeat: repeat-x;
    background-color: #BDBDAD;
    background-attachment: fixed;
}

div.leaflet-div-icon-end, div.leaflet-div-icon-start, div.leaflet-div-icon-point {
    border: 2px solid #8CACD3;
    border-radius: 2px;
    padding: 2px !IMPORTANT;
    background-color: white;
    margin: 2px !IMPORTANT;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 25px !IMPORTANT;
    white-space: nowrap;
    width: 100px !IMPORTANT;
}

.show-on-fullpage-block {
    display: none;
}


div.relative-container {
    position: relative;
}

/* Absolute Center Spinner */
.loading {
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}