<section class="tdoc-app">
    <div class="fullpage-background show-on-fullpage-block"></div>
    <div class="loading" *ngIf="showLoadingSpinner">Loading {{setShowLoadingSpinner(true)}}</div>
    <ng-container class="loading" *ngIf="!showLoadingSpinner">{{setShowLoadingSpinner(false)}}</ng-container>
    <div class="container">
        <router-outlet name="navbar"></router-outlet>
        <router-outlet name="tdocmodaledit"></router-outlet>
        <router-outlet name="tdocmodalshow"></router-outlet>
        <router-outlet name="pdocmodaledit"></router-outlet>
        <router-outlet name="pdocmodalshow"></router-outlet>
        <router-outlet></router-outlet>
    </div>

    <footer class="container container-page-footer text-left hidden-print border-top fx-bg-theme hide-on-fullpage">
        <div class="row">
            <p class="col-md-6 justify-content-start left">
                <a *ngIf="!hideCopyrightFooter" href="pages/impress" i18n="link impress footer|Link impress footer@@a.footer.impress">&copy;2023 Impressum/Datenschutz</a>
            </p>

            <div class="col-md-6">
                <ul class="nav command-container justify-content-end">
                    <li class="command-link" *ngIf="isPrintAvailable()">
                        <div (click)="onOpenPrintPreview('TAG', 'app-root', 800, 200, 'print\.css')" class="command-icon command-icon-print"><span></span></div>
                    </li>
                    <li class="command-link" *ngIf="isPdfPrintAvailable()">
                        <div (click)="onPrintPdf('TAG', 'app-root', 800, 200, 'print\.css')" class="command-icon command-icon-pdf"><span></span></div>
                    </li>
                    <li class="command-link">
                        <div (click)="onScrollToTop()" class="command-icon command-icon-scroll-to-top"><span></span></div>
                    </li>
                </ul>
            </div>

            <ng-container *ngIf="!hideCopyrightFooter">
                <cookie-law [name]="cookieLawSeenName" [expiration]="3000" *ngIf="showLaw" >
                    <span i18n="text cookieLaw|Text cookieLaw@@span.cookieLaw.test">Mit der Benutzung dieser Seite stimmst du der Nutzung von Cookies und der Datenschutzerklärung zu.</span>
                    <a href="pages/impress" i18n="link impress cookieLaw|Link impress cookieLaw@@a.cookieLaw.impress">Mehr unter Impressum/Datenschutz</a>
                </cookie-law>
            </ng-container>
        </div>
    </footer>
</section>
