<section class="tdoc-app">
    <div class="fullpage-background show-on-fullpage-block"></div>
    <div class="loading" *ngIf="showLoadingSpinner">Loading</div>
    <div class="container">
        <router-outlet name="navbar"></router-outlet>
        <router-outlet name="modaledit"></router-outlet>
        <router-outlet name="modalshow"></router-outlet>
        <router-outlet></router-outlet>
    </div>
    <div class="container text-center hidden-print"><a href="pages/impress" i18n="link impress footer|Link impress footer@@a.footer.impress">&copy;2018 Impressum/Datenschutz</a></div>
    <div class="container text-center hidden-print">
        <cookie-law [name]="cookieLawSeenName" [expiration]="3000" *ngIf="showLaw" >
            <span i18n="text cookieLaw|Text cookieLaw@@span.cookieLaw.test">Mit der Benutzung dieser Seite stimmst du der Nutzung von Cookies und der Datenschutzerklärung zu.</span>
            <a href="pages/impress" i18n="link impress cookieLaw|Link impress cookieLaw@@a.cookieLaw.impress">Mehr unter Impressum/Datenschutz</a>
        </cookie-law>
    </div>
</section>
