<section class="sdoc-app">
    <div class="fullpage-background show-on-fullpage-block"></div>
    <div class="loading" *ngIf="showLoadingSpinner">Loading</div>
    <div class="container">
        <router-outlet name="navbar"></router-outlet>
        <router-outlet></router-outlet>
    </div>
    <cookie-law *ngIf="showLaw">
        Mit der Benutzung dieser Seite stimmst du der Nutzung von Coockies und der Datenschutzerklärung zu.
        <a href="pages/impress">Mehr unter Impressum/Datenschutz</a>
    </cookie-law>
</section>
