table.techvaluetable {
    font-size: 0.75rem;
    display: inline-table;
    border: 1px solid #bfccd3;
    vertical-align: top;
    table-layout: fixed;
    max-width: 600px;
}
td.label {
    font-weight: bold;
}
td.entry, td.value {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: normal;
}
td.entry {
    width: 40%;
}
td.value {
    width: 60%;
}
