div.sdoc-list-item-flat {
    width: 100%;
    border: 1px solid #bfccd3;
    border-radius: 5px;
    padding: 5px;
}
div.sdoc-list-item-flat h5 {
    font-size: 0.75rem;
}

div.sdoc-list-item-flat div.card-action-buttons {
    float: right;
}

