div.sdoc-list-item-flat {
    width: 100%;
}
div.sdoc-list-item-flat h5 {
    font-size: 0.75rem;
}

div.sdoc-list-item-flat div.card-action-buttons {
    float: right;
}

@media(max-width: 767px) {
    div.sdoc-list-item-flat div.layout-small {
        display: block;
    }
    div.sdoc-list-item-flat div.layout-big {
        display: none;
    }
}
@media(min-width: 768px) {
    div.sdoc-list-item-flat div.layout-small {
        display: none;
    }
    div.sdoc-list-item-flat div.layout-big {
        display: block;
    }
}

