span {
    font-size: 10px;
}
.tagActive {
    color: black !important;
    background-color: #a8e25b !important;
    border: 2px red solid;
    padding: 2px;
}
.tagInActive {
    color: gray !important;
    background-color: beige;
    border: 2px lightgray solid;
    padding: 2px;
}

.tagContaineractionTagsFlat, .tagContaineractionTagsSmall {
    display: inline-block;
}

.tagContaineractionTagsBig {
    display: inline-block;
}

.tagToggler {
    color: gray !important;
    background-color: beige;
    border: 2px lightgray solid;
    padding: 2px;
}

div.showInactive > .tagInActive {
    display: inline;
}
div.hideInactive > .tagInActive {
    display: none;
}