<div class="card-block">
    <ngb-carousel *ngIf="track.images != undefined && track.images.length > 0">
        <ng-template ngbSlide *ngFor="let image of track.images">
            <img class="track-image" src="http://localhost/michas/digifotos/pics_x100/{{image.fileName}}" alt="{{image.name}}">
            <div class="carousel-caption">
                <h3>{{image.name}}</h3>
                <p>{{image.name}}.</p>
            </div>
        </ng-template>
    </ngb-carousel>
    <h5 class="card-title">{{track.name}}</h5>
    <br />
    <ul class="card-text">
        <li><label>Personen:</label><span>{{track.persons}}</span></li>
        <li><label>Keywords:</label><span>{{track.keywords}}</span></li>
    </ul>
    <p class="card-text">
        {{track.desc}}
        <ngb-accordion #acc="ngbAccordion" activeIds="">
            <ngb-panel title="Karte">
                <ng-template ngbPanelContent>
                    <iframe src="http://localhost/michas/gmap.php?LAT=39.539649963378906&LONG=2.446817636489868&K_ID={{track.id}}&FORMAT=KATINLINE&FLAGCENTERTRACK=1"
                            width="200" height="150" align="right" scrolling="no" marginheight="5" marginwidth="0" frameborder="0"></iframe>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </p>
</div>
<div class="card-footer">
    <small class="text-muted">{{track.datevon}}</small>
    <div class="card-action-buttons align-bottom btn-group" role="group" aria-label="Actions">
        <button class="edit btn-primary" (click)="editTrack(track)">Edit</button>
        <button class="delete btn-primary" (click)="deleteTrack(track)">Delete</button>
    </div>
</div>
