form {
    max-width: 1000px;
}

textarea:focus {
    height:60vh;
    min-height: 300px;
    max-height: 1000px;
}

table.trackSegmentStatistics td, table.trackSegmentStatistics th {
    border: 1px solid black;
}

.trackhint {
    background: lightyellow;
}

