div.datatechvaluetable .entry {
    min-width: 81px;
}
div.datatechvaluetable .entry .label {
    min-width: 30px;
}
div.datatechvaluetable .entry .value {
    text-align: right;
    white-space: nowrap;
}